page-signup {

}

.col1{
    background-color: #65aa64;
    color: white !important;
}
ion-list{
    padding: 0px 14px 0px 0px;
}


p span{
    color: rgb(50, 50, 218);
}
ion-input{
    border-bottom: 1px solid #d0c9c9;
}


/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 2220px) {
    .loginGrid{
        padding: 0px 30px 5px 30px !important;
    }
    ion-icon{
        font-size: 120px;
        margin: 25px;
        color: white;
    }
    .btn{
        font-size: 30px !important;
    }
    img{
        //  padding: 100px 100px 70px 100px;
        padding: 0px 0px 0px 0px;
        margin-top: 57px;
        width: 100%;
    }
    .row1 ion-col{
        font-size: 35px;
        color: green;
    }
    ion-grid{
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    .div1 button{
        font-size: 35px;
    }
    p{
        padding-left: 14px;  
        font-size: 25px !important;
        padding-bottom: 5px;
    }
    .header1{ 
        background-image: linear-gradient(to right, #809a80, #2dc72b);
        height: 580px;
      }
      .div2{
          position: relative;
          bottom: 259px;
      }
      .div1{
        padding: 60px 0px 15px 15px;
    }
    img{
        border-radius: 35px;
    }
  }
@media screen and (max-width: 992px) {
    img{
        border-radius: 25px;
    }
    .loginGrid{
        padding: 0px 20px 3px 20px !important;
    }
    .div1{
        padding: 45px 0px 16px 15px;
    }
    .header1{ 
        background-image: linear-gradient(to right, #809a80, #2dc72b);
        height: 440px;
      }
      .div2{
          position: relative;
          bottom: 198px;
      }
    p{
        padding-left: 14px;  
        font-size: 20px !important;
        padding-bottom: 5px;
    }
    .div1 button{
        font-size: 25px;
    }
    ion-grid{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    img{
         //  padding: 70px 70px 50px 70px;
         padding: 0px 0px 0px 0px;
         margin-top: 42px;
         width: 100%;
    }
    ion-icon{
        font-size: 90px;
        margin: 10px;
        color: white;
    }
    .btn{
        font-size: 23px !important;
    }
    .row1 ion-col{
        font-size: 25px;
        color: green;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    img{
        border-radius: 10px;
    }
    .loginGrid{
        padding: 0px 10px 0px 10px !important;
    }
    .div1{
        padding: 25px 0px 9px 15px;
    }
    .header1{ 
        background-image: linear-gradient(to right, #809a80, #2dc72b);
        height: 250px;
      }
      .div2{
          position: relative;
          bottom: 140px;
      }
    p{
        padding-left: 14px;  
        font-size: 9px !important;
        padding-bottom: 5px;
    }
    .div1 button{
          font-size: 16px !important;
      }
    ion-grid{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .row1 ion-col{
        font-size: 16px;
        color: green;
    }
    img{
       //  padding: 30px 30px 20px 30px;
       padding: 0px 0px 0px 0px;
       margin-top: 17px;
       width: 100%;
    }
    ion-icon{
        font-size: 30px;
        margin: 5px;
        color: white;
    }
    .btn{
        font-size: 16px !important;
    }
  }
