<!-- <ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content>

  <!-- <ion-card style="margin: 0px; border: none; width: 100%;">
    <img src="./assets/images/logo.png" style="width:70%; margin: auto; padding:20px;" />
  </ion-card> -->

  <ion-row class="header1">
    <ion-col size="5" size-sm="5">
      <ion-icon name="close" (click)="close()" style="color: white !important;"></ion-icon>  
    </ion-col>
    <ion-col size="2" size-sm="2">
      <img src="/assets/icon/logo3.png">
    </ion-col>
    <ion-col size="5" size-sm="5"></ion-col>
  </ion-row>

  <div class="div2">
  <ion-grid class="loginGrid">
    <ion-card>     
          <ion-row class="row1">
            <ion-col size="6" size-sm="6" text-center >
              Login
            </ion-col>
            <ion-col size="6" size-sm="6" text-center (click)="signuppage()" class="col1">
              Signup
            </ion-col>
          </ion-row>    
    </ion-card>
  </ion-grid>

  <ion-grid>
    <ion-card>

  <ion-list>
    <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item>
      <ion-label floating>Mobile Number (10-digit)</ion-label>
      <ion-input type="text" formControlName="mobile"></ion-input>
    </ion-item>
    <span class="error" *ngIf="isSubmitted && errorControl.mobile.errors?.required">
      Mobile number is required.
    </span> 
    <span class="error" *ngIf="isSubmitted && errorControl.mobile.errors?.pattern">
       Please insert 10 digit mobile number.
    </span> 
    <!-- <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item> -->

    <div class="div1">
      <button ion-button color="danger" block type="submit">Login using OTP</button>
    </div>
  </form>
  </ion-list>

  <p>By continuing, you agree to our <span>Terms and Conditions</span> and<span> Privacy Policy.</span></p>

</ion-card>
</ion-grid>
</div>
  <!-- <button ion-button block color="danger" (click)="login()">Login</button> -->
  <!-- <button ion-button clear block color="danger">No Account? Sign Up Here</button> -->

</ion-content>
