<!--
  Generated template for the DelOptionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="headerCart">
  <ion-navbar color="danger">
    <!-- <ion-icon
      name="arrow-back"
      (click)="back()"
      class="subIcon"
      style="color: white !important"
    ></ion-icon> -->

    <ion-title>Delivery Options</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!--change address div-->
  <ion-grid>
    <ion-row>
      <ion-col col-10 class="delCol" *ngIf="Default_Address">
        <ion-icon name="ios-pin-outline"></ion-icon>
        Deliver to: <span>Default Address</span><br />
        <span
          >{{Default_Address.houseno}},{{Default_Address.apartmentname}},
          {{Default_Address.streetDetails}},{{Default_Address.landmark}},
          {{Default_Address.area}},{{Default_Address.city}},
          Pin-{{Default_Address.pincode}}</span
        >
      </ion-col>
      <ion-col col-2 color="light" class="delCol2">
        <span (click)="chooseDelpage()">Change</span>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--end change address div-->

  <!--Select timing div-->
  <ion-grid class="delGrid">
    <ion-row>
      <ion-col col-7 class="defaultCol">
        <span>Default Delivery Option</span>
      </ion-col>
      <ion-col col-5 class="chargesCol">
        <span>Deliver Charges: Rs 0</span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-9 class="shipmentCol"> Shipment: Standard Delivery </ion-col>
      <ion-col col-3 color="light" class="delCol2">
        <span>View items</span>
      </ion-col>
    </ion-row>

    <!--ion-select-->
    <!-- <ion-select class="select1" style="background-color: white;" interface="action-sheet">  
                  <ion-option><span style="color: red !important;">Today</span></ion-option>
                <ion-option selected="true">7:00 AM-10:00 AM</ion-option>
                <ion-option>10:00 AM-1:00 PM</ion-option>
                <ion-option>4:00 PM-7:00 PM</ion-option>
                <ion-option>7:00 PM-10:00 PM</ion-option>           
              </ion-select> -->
    <!--end-ion-select-->

    <ion-list>
      <ion-row>
        <ion-col ion-item col-6>
          <ion-select
            class="select1"
            style="background-color: white"
            interface="action-sheet"
            [(ngModel)]="Time" (ionChange)="onChange(Time)"
          >
            <ion-option selected="true" value="7:00 AM-10:00 AM">7:00 AM-10:00 AM</ion-option>
            <ion-option value="10:00 AM-1:00 PM">10:00 AM-1:00 PM</ion-option>
            <ion-option value="4:00 PM-7:00 PM">4:00 PM-7:00 PM</ion-option>
            <ion-option value="7:00 PM-10:00 PM">7:00 PM-10:00 PM</ion-option>
          </ion-select>
        </ion-col>
        <ion-col ion-item col-6>
          <ion-label class="lblDate">Select Date:</ion-label>
          <ion-datetime [(ngModel)]="myDate" (ionChange)="showdate()"></ion-datetime>
        </ion-col>
      </ion-row>
    </ion-list>

    <button ion-button block color="danger" (click)="proceedToPay()">RROCEED TO PAY</button>
  </ion-grid>
  <!--end select timing-->
</ion-content>
