.delCol2{
    align-items: center;
    display: flex;
}
.chargesCol{
    display: flex;
    justify-content: flex-end;
}
.delGrid{
    background: #f3f2f2;
}

.defaultCol, .chargesCol{
    border-bottom: 2px solid white;
    margin-bottom: 10px;
}
.shipmentCol,.delCol2{
    margin-bottom: 10px;
}
.lblDate{
    color: #5a5858;
    font-weight: bold;
}


/* On screens that are 2220px or less, set the background color to blue */
@media screen and (max-width: 2220px) {
    .shipmentCol{
        font-size: 30px;
    }
    .delCol ion-icon{
        font-size: 45px !important;
    }
    .delCol{
        font-size: 30px;
        font-weight: bold;
    }
    .delCol span{
        font-weight: normal;
        font-size: 30px;
    }
    .delCol2 span{
        font-size: 25px;
        border: 1px solid #c7c1c1;
        padding: 10px;
        border-radius: 8px;
    }
    .defaultCol span{
        font-size: 30px;
        font-weight: bold;
    }
    .chargesCol span{
        font-size: 28px;
        font-weight: bold;
        color: gray;
    }
    .delGrid button{
        margin: 40px 0px 35px 0px;
        font-size: 30px;
    }
}
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    .delGrid button{
        margin: 30px 0px 25px 0px;
        font-size: 22px;
    }
    .shipmentCol{
        font-size: 22px;
    }
    .defaultCol span{
        font-size: 22px;
        font-weight: bold;
    }
    .chargesCol span{
        font-size: 20px;
        font-weight: bold;
        color: gray;
    }
    .delCol ion-icon{
        font-size: 30px !important;
    }
    .delCol{
        font-size: 22px;
        font-weight: bold;
    }
    .delCol span{
        font-weight: normal;
        font-size: 22px;
    }
    .delCol2 span{
        font-size: 18px;
        border: 1px solid #c7c1c1;
        padding: 7px;
        border-radius: 5px;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    .delGrid button{
        margin: 20px 0px 10px 0px;
        font-size: 14px;
    }
    .shipmentCol{
        font-size: 14px;
    }
    .defaultCol span{
        font-size: 14px;
        font-weight: bold;
    }
    .chargesCol span{
        font-size: 12px;
        font-weight: bold;
        color: gray;
    }
    .delCol ion-icon{
        font-size: 25px !important;
    }
    .delCol{
        font-size: 14px;
        font-weight: bold;
    }
    .delCol span{
        font-weight: normal;
        font-size: 14px;
    }
    .delCol2 span{
        font-size: 12px;
        border: 1px solid #c7c1c1;
        padding: 2px;
        border-radius: 4px;
    }
  }