<!--
  Generated template for the AddAddressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="headerCart">

  <ion-navbar  color="danger">  
       <ion-icon name="arrow-back" (click)="back()" class="subIcon" style="color: white !important;"></ion-icon>
 
 <ion-title>Add New Address</ion-title>

</ion-navbar>

</ion-header>

<ion-content padding>
    <ion-row class="addRow">
        <ion-col col-12 class="coladd">
            Name: Mohd Amir
        </ion-col>
        <ion-col col-12>
            Phone number: 8808893632
        </ion-col>
    </ion-row>

    <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
    <ion-row>
        <p class="AddP">Address Details</p>

        <ion-col col-4>
          <ion-input placeholder="House no" formControlName="houseno"></ion-input>
          <span class="error" *ngIf="isSubmitted && errorControl.houseno.errors?.required" style="margin-left: 0px !important;">
            House number is required.
          </span>
        </ion-col>
        

        <ion-col col-8>
          <ion-input placeholder="Apartment name" formControlName="apartmentname"></ion-input>
          <span class="error" *ngIf="isSubmitted && errorControl.apartmentname.errors?.required" style="margin-left: 0px !important;">
            Apartment name is required.
          </span>
        </ion-col>
        

        <ion-col col-12>
          <ion-input placeholder="Street details to locate you" formControlName="streetDetails"></ion-input>
          <span class="error" *ngIf="isSubmitted && errorControl.streetDetails.errors?.required" style="margin-left: 0px !important;">
            Street details  is required.
          </span>
        </ion-col>
        

        <ion-col col-12>
          <ion-input placeholder="Landmark for easy reach out" formControlName="landmark"></ion-input>
          <span class="error" *ngIf="isSubmitted && errorControl.landmark.errors?.required" style="margin-left: 0px !important;">
            Landmark  is required.
          </span>
        </ion-col>
        

        <ion-col col-12>
          <ion-input placeholder="Area details" formControlName="area"></ion-input>
          <span class="error" *ngIf="isSubmitted && errorControl.area.errors?.required" style="margin-left: 0px !important;">
            Area details  is required.
          </span>
        </ion-col>
        

        <ion-col col-6>
          <ion-input placeholder="City" formControlName="city"></ion-input>
          <span class="error" *ngIf="isSubmitted && errorControl.city.errors?.required" style="margin-left: 0px !important;">
            City is required.
          </span>
        </ion-col>
        

        <ion-col col-6>
          <ion-input placeholder="Pincode" formControlName="pincode" type="number"></ion-input>
          <span class="error" *ngIf="isSubmitted && errorControl.pincode.errors?.required" style="margin-left: 0px !important;">
            Pincode is required.
          </span>
        </ion-col>
        

         <!--segemen button-->
        <ion-col col-12>
            <span class="spanNick">Choose nick name for this address</span><br>           
            <ion-segment  color="secondary" class="addSegment" formControlName="nickname">
              <ion-segment-button value="Home">
                Home
              </ion-segment-button>
              <ion-segment-button value="Office">
                Office
              </ion-segment-button>
            </ion-segment>
            <span class="error" *ngIf="isSubmitted && errorControl.nickname.errors?.required" style="margin-left: 0px !important;">
              Nick name is required.
            </span>
        </ion-col>
        
        <!--check-box-set-this-as-my-->
        <ion-col col-12>
          <ion-item class="checkItem">
            <ion-label>Set this as my default delivery address</ion-label>
            <ion-checkbox  [(ngModel)]="defaultAddress" [ngModelOptions]="{standalone: true}"></ion-checkbox>
          </ion-item>
        </ion-col>

    </ion-row>
    <!-- <ion-footer> -->
      <ion-toolbar>
          <button ion-button block class="btnAdress" type="submit">ADD ADDRESS</button>
      </ion-toolbar>
    <!-- </ion-footer> -->
  </form>

</ion-content>


