.addRow{
    border: 1px solid #cec8c8;
    border-radius: 6px;
}
.coladd{
    padding-bottom: 0px !important;   
}


.addSegment{
    display: flex;
    justify-content: flex-start;
}


/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 2220px) {
    .addRow ion-col{
        font-size: 28px;
    }
    .AddP{
        padding-left: 0px !important;
        font-size: 30px !important;    
        font-weight: bold;
        width: 100%;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .spanNick{
        font-size: 22px;
        color: gray;
    }
    .addSegment ion-segment-button{
        border: 1px solid #a2a2a2;   
        max-width: 100px !important;
        height: 30px;
        border-radius: 4px;
        font-size: 14px;
        margin-top: 16px;
        margin-right: 16px;
        color: black !important;
        padding-top: 15px;
    }
    .checkItem ion-label{
        font-size: 28px;
        font-weight: bold;
    }
    .btnAdress{
        background-color: #2d2d2d;
        font-size: 32px;
        height: 75px;
    }
}
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    .btnAdress{
        background-color: #2d2d2d;
        font-size: 22px;
        height: 60px;
    }
    .checkItem ion-label{
        font-size: 20px;
        font-weight: bold;
    }
    .addSegment ion-segment-button{
        border: 1px solid #a2a2a2;   
        max-width: 60px !important;
        height: 30px;
        border-radius: 4px;
        font-size: 14px;
        margin-top: 16px;
        margin-right: 16px;
        color: black !important;
        padding-top: 13px;
    }
    .spanNick{
        font-size: 16px;
        color: gray;
    }
    .AddP{
        padding-left: 0px !important;
        font-size: 25px !important;    
        font-weight: bold;
        width: 100%;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .addRow ion-col{
        font-size: 18px;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    .btnAdress{
        background-color: #2d2d2d;
        font-size: 14px;
        height: 39px;
    }
    .checkItem ion-label{
        font-size: 12px;
        font-weight: bold;
    }
    .addSegment ion-segment-button{
        border: 1px solid #a2a2a2;   
        max-width: 60px !important;
        height: 30px;
        border-radius: 4px;
        font-size: 14px;
        margin-top: 16px;
        margin-right: 16px;
        color: black !important;
        padding-top: 0px;
    }
    .spanNick{
        font-size: 12px;
        color: gray;
    }
    .AddP{
        padding-left: 0px !important;
        font-size: 16px !important;    
        font-weight: bold;
        width: 100%;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .addRow ion-col{
        font-size: 14px;
    }
  }