<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu" style="color: white !important"></ion-icon>
    </button>
    <ion-title>Shop By Category</ion-title>
  </ion-navbar>

  <div class="divTool">
    <div class="divSearch" (click)="searchPage()">
      <ion-icon name="search"></ion-icon> <span>Search products</span>
    </div>
  </div>
</ion-header>

<ion-content>
  <!--category-->
  <ion-row class="catRow" *ngFor="let cat of categoryList">
    <ion-col col-12 (click)="categoryDiv(cat.id)">
      <img src="{{cat.image}}" />
      <span class="carSpan">{{cat.name}}</span>
    </ion-col>
    <!-- <ion-col col-2>
       <ion-icon name="ios-arrow-dropdown-outline" class="toggleIcon" *ngIf="downIcon "></ion-icon>
             <ion-icon name="ios-arrow-dropup-outline" class="toggleIcon" *ngIf="UpIcon"></ion-icon> 
    </ion-col> -->

    <!--subcategory-->
    <div *ngIf="testDiv">
      <ion-row *ngIf="subcategoryDiv == cat.id">
        <ion-col
          class="colSub"
          col-12
          *ngFor="let sub of subCategoryList"
          (click)="productList(sub.id)"
        >
          {{sub.name}}
        </ion-col>
      </ion-row>
    </div>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-row class="footerRow">
    <ion-col text-center (click)="homeTab()">
      <ion-icon name="ios-home-outline"></ion-icon><br />
      <span>Home</span>
    </ion-col>

    <ion-col text-center>
      <ion-icon
        name="ios-apps-outline"
        style="color: green !important"
      ></ion-icon
      ><br />
      <span style="color: green !important">Categories</span>
    </ion-col>

    <ion-col text-center (click)="searchTab()">
      <ion-icon name="search"></ion-icon><br />
      <span>Search</span>
    </ion-col>

    <ion-col text-center (click)="myListTab()">
      <ion-icon name="ios-document-outline"></ion-icon><br />
      <span>My List</span>
    </ion-col>

    <ion-col text-center (click)="CartTab()">
      <span class="cartSpan"*ngIf="cartLength">{{cartLength}}</span>
      <ion-icon name="ios-cart-outline"></ion-icon><br />
      <span>Cart</span>
    </ion-col>
  </ion-row>
</ion-footer>
