

.catRow ion-col{
    display: flex;
    align-items: center;
}
.footerRow{
    width: 100%;
}



/* On screens that are 2220px or less, set the background color to blue */
@media screen and (max-width: 2220px) {
    .toggleIcon{
        float: right;
        font-size: 45px;
    }
    .catRow{
        border-bottom: 1px solid #d8d6d6;
        margin-left: 35px;
    }
    .carSpan{
        margin-left: 35px;
        font-size: 30px;
        font-weight: bold;
        font-family: 'Roboto';
    }
    .catRow img{
        margin-top: 0px !important;
        width: 90px !important;
    }
    .colSub{
        border-bottom: 1px solid #e2e0e0;
        margin-left: 35px;
        font-size: 30px;
        padding: 25px 0px 25px 0px;
        font-family: 'Roboto';
    }
    .footerRow ion-col ion-icon{
        font-size: 50px !important;
    }
    .footerRow ion-col span{
        font-size: 30px;
    }
}
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    .footerRow ion-col ion-icon{
        font-size: 40px !important;
    }
    .footerRow ion-col span{
        font-size: 22px;
    }
    .colSub{
        border-bottom: 1px solid #e2e0e0;
        margin-left: 25px;
        font-size: 20px;
        padding: 15px 0px 15px 0px;
        font-family: 'Roboto';
    }
    .catRow img{
        margin-top: 0px !important;
        width: 60px !important;
    }
    .carSpan{
        margin-left: 25px;
        font-size: 25px;
        font-weight: bold;
        font-family: 'Roboto';
    }
    .catRow{
        border-bottom: 1px solid #d8d6d6;
        margin-left: 25px;
    }
    .toggleIcon{
        float: right;
        font-size: 35px;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    .footerRow ion-col ion-icon{
        font-size: 25px !important;
    }
    .footerRow ion-col span{
        font-size: 12px;
    }
    .colSub{
        border-bottom: 1px solid #e2e0e0;
        margin-left: 20px;
        font-size: 14px;
        padding: 10px 0px 10px 0px;
        font-family: 'Roboto';
    }
    .catRow img{
        margin-top: 0px !important;
        width: 40px !important;
    }
    .carSpan{
        margin-left: 10px;
        font-size: 16px;
        font-weight: bold;
        font-family: 'Roboto';
    }
    .catRow{
        border-bottom: 1px solid #d8d6d6;
        margin-left: 20px;
    }
    .toggleIcon{
        float: right;
        font-size: 25px;
    }
  }
