<!--
  Generated template for the ChooseDelAddressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="headerCart">

  <ion-navbar  color="danger">  
       <ion-icon name="arrow-back" (click)="back()" class="subIcon" style="color: white !important;"></ion-icon>
 
 <ion-title>Choose Delivery Address</ion-title>

</ion-navbar>

</ion-header>

<ion-content>
      <ion-row class="chooseRow">
        <ion-col class="colSaved">SAVED ADDRESS</ion-col>
        <ion-col class="colAdd" (click)="addAddress()">+ADD NEW ADDRESS</ion-col>
      </ion-row>


      <ion-row *ngIf="noAddressDiv">
        <ion-col col-12 class="empty" style="padding: 20px 80px 0px 80px;">
          <img src="./assets/icon/address.png">        
          <div text-center class="empty1" style="padding-top:0px !important">No Addresses</div>     
        </ion-col>      
      </ion-row>

      <ion-list radio-group (ionChange)="radioGroupChange($event)" *ngIf="AddressDiv">
        
        <ion-item *ngFor="let add of userAddress" (ionSelect)="radioSelect($event)" class="radioItem">          
          <ion-radio value="{{add.id}}" checked="{{add.defaultAddress == 1}}"  item-left></ion-radio>
          
          <ion-label>{{add.nickname}}  <ion-icon name="trash" class="iconTrash" (click)="deleteAddress(add.id)"></ion-icon> <br>
              <span>{{add.houseno}},<br> {{add.apartmentname}},<br>{{add.streetDetails}},<br>{{add.landmark}}
                <br>{{add.area}}<br>{{add.city}}<br>{{add.pincode}}<br>
              </span><br>
              
          </ion-label>  
                                    
        </ion-item>         
      
      </ion-list>

</ion-content>
