
.radioItem .item-cover {      
    width: 280px;
}
/* On screens that are 1220px or less, set the background color to blue */
@media screen and (max-width: 1220px) {
    .chooseRow{
        background-color: #c1c0c0;
        padding: 32px;
    }
    .colSaved{
        font-size: 32px;
        font-weight: bold;
        font-family: 'Roboto';
        color: #383535;
    }
    .colAdd{
        display: flex;
        justify-content: flex-end;
        font-size: 32px;
        color: #0d71c7;
    }
    .iconTrash{
        float: right;
        color: #f73333 !important;
        font-size: 45px;
    }
}
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    .iconTrash{
        float: right;
        color: #f73333 !important;
        font-size: 30px;
    }
    .chooseRow{
        background-color: #c1c0c0;
        padding: 26px;
    }
    .colSaved{
        font-size: 26px;
        font-weight: bold;
        font-family: 'Roboto';
        color: #383535;
    }
    .colAdd{
        display: flex;
        justify-content: flex-end;
        font-size: 26px;
        color: #0d71c7;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    .iconTrash{
        float: right;
        color: #f73333 !important;
        font-size: 20px;
    }
    .chooseRow{
        background-color: #c1c0c0;
        padding: 16px;
    }
    .colSaved{
        font-size: 16px;
        font-weight: bold;
        font-family: 'Roboto';
        color: #383535;
    }
    .colAdd{
        display: flex;
        justify-content: flex-end;
        font-size: 16px;
        color: #0d71c7;
    }
  }
