<ion-header class="headerCart">

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" style="color: white !important;"></ion-icon>
    </button>
    <ion-title style="color: white !important;">Your Cart</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card>
    <ion-grid class="cartGrid">
      <ion-row [hidden]="showEmptyCartMessage">
        <ion-col>Your Cart Description</ion-col>
      </ion-row>
      <ion-row [hidden]="!showEmptyCartMessage">

        <ion-col col-12 class="empty">
          <img src="./assets/icon/cart.png">
          <div text-center class="empty1">Your cart is empty</div>
          <div text-center class="empty2">
            <button ion-button color="danger" (click)="startShopping()" block>START SHOPPING</button>
          </div>

        </ion-col>
       
        <!-- <ion-col text-center col-12>There are no products in your cart!</ion-col> -->
      </ion-row>
    </ion-grid>
  </ion-card>


  <ion-card *ngFor="let item of cartItems; let i = index">
    <ion-item class="itemTop">

      <ion-thumbnail item-left class="cartThmbl" (click)="openProductPage(item.product)">
        <img [src]="item.product.featured_src" />
      </ion-thumbnail>
      <h2 class="h2Title">{{ item.product.title }}</h2>

      <p *ngIf="item.variation" class="cartP"><span *ngFor="let att of item.variation.attributes">{{ att.option | titlecase }} &nbsp;</span></p>

      <p class="cartP">{{ item.qty }} • 
        <span *ngIf="!item.variation">{{ item.product.price }}</span>
        <span *ngIf="item.variation">{{ item.variation.price }}</span></p>

        <span style="font-weight: bold;">Rs  {{ item.amount }}</span>

      <button ion-button clear item-right color="danger" (click)="removeFromCart(item, i)" class="btnRem">
        <ion-icon name="close-circle"></ion-icon>
      </button>

   

    </ion-item>


    <ion-row>  
      <ion-col col-5></ion-col>    
      <ion-col col-7 class="colBtn">  
        <span class="spandiv">     
       <button ion-button icon-only clear color="danger" (click)="changeQty(item, i, -1)" class="btnaddd">
         <ion-icon name="remove" style="color: red;"></ion-icon>
       </button>
       <button ion-button clear color="danger" class="btnQty"> {{ item.qty }} </button>
       <button ion-button icon-only clear color="danger" (click)="changeQty(item, i, 1)" class="btnaddd">
         <ion-icon name="add" style="color: red;"></ion-icon>
       </button>   
      </span>  
      </ion-col>
   
    </ion-row>

    <!-- <ion-item class="compact">
      <ion-row no-padding>
        <ion-col col-8>
          <button ion-button icon-only clear color="danger" (click)="changeQty(item, i, -1)">
            <ion-icon name="remove-circle" style="color: black;"></ion-icon>
          </button>
          <button ion-button clear color="danger" class="btnQty"> {{ item.qty }} </button>
          <button ion-button icon-only clear color="danger" (click)="changeQty(item, i, 1)">
            <ion-icon name="add-circle" style="color: black;"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-4  class="btnRemove">
          <button ion-button small outline (click)="removeFromCart(item, i)" color="danger">Remove</button>
        </ion-col>
      </ion-row>
    </ion-item> -->
  </ion-card>


  <!--Saved For Later-->
  <div padding *ngIf="similarProductList">
    <p class="ptitle" style="border-top: 1px solid #d0cbcb;
    padding: 10px 0px 0px 0px !important;">Saved For Later</p>

<div no-border class="scrollable-segments1">
<ion-segment  value="heart" class="simSegment"> 
  
<ion-segment-button value="home1" style="height: auto;" *ngFor="let prdct of similarProductList">
<ion-card class="cardSim">
     <ion-card (click)="openProductPage(prdct)">
        <img src="{{prdct.images[0].src}}"  />
    </ion-card>
    <div class="b">{{prdct.title}}</div>
      <!-- <div class="divGram">1 kg</div>  -->

      <span *ngIf="prdct.variations.length > 0">
        <ng-container *ngFor="let attribute of prdct.attributes">
          <div *ngIf="attribute.variation">    

            <ion-select class="select12" placeholder="Select option" [(ngModel)]="selectedOptions[attribute.name]" (ionChange)="check1(attribute.name, prdct, prdct.id)">
              <!-- <ion-option selected="true"> 200 g- Pouch- Rs 118</ion-option> -->
              <ion-option *ngFor="let option of attribute.options" [value]="option">{{ option }}</ion-option>
             
            </ion-select>
            
          </div>
        </ng-container>
  </span>

    <!-- <div class="addSpanDiv">
    <span class="spanPrice" style="color: black !important;">&#8377;333</span>&nbsp;&nbsp;&nbsp;<span class="spanMrp">&#8377;<span>75</span></span>
  </div> -->

  <div class="addSpanDiv">
    <span class="spanPrice" style="color: black !important;">&#8377;{{prdct.price}}</span>
  </div>
    <button style="background: #50b36a;" ion-button block color="secondary" class="simBtn" (click)="addToCart1(prdct, prdct.id)">Add</button>
 
    <button ion-button block color="danger" class="simBtn" style="margin-top:15px" (click)="remove(prdct)">Remove</button>
</ion-card>
</ion-segment-button>


          
</ion-segment>
</div>

  </div>
<!--end Saved For Later-->


  <!-- <ion-grid>
    <ion-card>
      <ion-grid>
        <ion-row class="rowB">
          <ion-col col-2>

          </ion-col>
          <ion-col col-4>
            <b>TOTAL</b>
          </ion-col>
          <ion-col col-3>

          </ion-col>
          <ion-col col-3 style="text-align: right">
            <b> {{ total }} </b>
          </ion-col>


        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-grid> -->

</ion-content>

<ion-footer [hidden]="showEmptyCartMessage">
  <ion-toolbar>
    <ion-grid class="gridFooter">
      <ion-row class="btnFooter">
        <ion-col class="total">
          <!-- <button ion-button color="danger" outline block (click)="closeModal()" style="border-color: green;
          color: green;">Back</button> -->

          Total: {{ total }}

        </ion-col>
        <ion-col>
          <button ion-button color="danger" block (click)="checkout()">Checkout</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
