page-cart {
    .compact .item-inner .input-wrapper ion-label {
        margin: 0 !important;
    }
}
.cartThmbl{
    display: flex;
    align-items: center;
}

.headerCart .toolbar-background-md{
  background: #50b36a;
}
.headerCart .toolbar-background-ios{
  background: #50b36a;
}

.gridFooter{
  background: #252323;
}


.itemTop{
    position: relative;
    top: 25px;
}



.btnaddd ion-icon{
    padding: 0px 0px 0px 0px !important;   
    color: red !important;
    font-size: 15px;
}
.btnQty{
  padding: 5px;
}
.colBtn{
  padding-right: 16px;
}
.spandiv{
    float: right;
   // position: relative;
   // bottom: 48px;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 2220px) {
    .cartThmbl img{
        width: 110px !important;
        height: 110px !important;
        margin-top: 0px;
    }
    .cartGrid{
        font-size: 30px;
    }
    .h2Title{
        font-size: 30px !important;
    }
    .cartP{
        padding-left: 0px !important;
        font-size: 22px !important;
      }
      .compact ion-icon{
        font-size: 45px;
    }
    .btnQty{
        font-size: 35px;
      }
      .btnRemove{
        text-align: right;
        padding-top: 35px;
      }
      .btnRemove button{
        width: 120px;
        height: 35px;
        font-size: 22px;
      }
      .rowB b{
        font-size: 30px;
    }
    .btnFooter button{
        font-size: 30px;
        height: 70px;
      }
      .total{
        color: white;
          align-items: center;
          display: flex;
          font-size: 38px;
      }
      .empty{
        padding: 190px 250px 0px 250px;
      }
      .empty1{
        font-size: 50px;
          padding-top: 20px;
          font-weight: bold;
      }
      .empty2{
        margin-bottom: 500px;
          padding: 15px;
      }
      .empty2 button{
        font-size: 30px;
      }
      .btnRem{
        padding: 0px;
          position: relative;
          bottom: 41px;
          left: 10px;
      }
      .btnRem ion-icon{
        color: #f53d3d !important;
        font-size: 35px !important;
    }
    .btnaddd{
      border: 1px solid red;
        height: 45px;
        padding: 0px 2px 0px 2px!important;
    }
}
@media screen and (max-width: 992px) {
  .btnaddd{
    border: 1px solid red;
      height: 30px;
      padding: 0px 2px 0px 2px!important;
  }
  .btnRem ion-icon{
    color: #f53d3d !important;
    font-size: 25px !important;
}
  .btnRem{
    padding: 0px;
      position: relative;
      bottom: 35px;
      left: 10px;
  }
  .empty2 button{
    font-size: 25px;
  }
  .empty{
    padding: 114px 200px 0px 200px;
  }
  .empty1{
    font-size: 35px;
      padding-top: 20px;
      font-weight: bold;
  }
  .empty2{
    margin-bottom: 400px;
      padding: 15px;
  }
  .total{
    color: white;
      align-items: center;
      display: flex;
      font-size: 28px;
  }
    .btnFooter button{
        font-size: 22px;
        height: 60px;
      }
    .rowB b{
        font-size: 22px;
    }
    .btnRemove button{
        width: 80px;
        height: 27px;
        font-size: 17px;
      }
    .btnRemove{
        text-align: right;
        padding-top: 24px;
      }
    .btnQty{
        font-size: 22px;
      }
    .compact ion-icon{
        font-size: 35px;
    }
    .cartP{
        padding-left: 0px !important;
        font-size: 18px !important;
      }
    .h2Title{
        font-size: 22px !important;
    }
    .cartThmbl img{
        width: 90px !important;
        height: 90px !important;
        margin-top: 0px;
    }
    .cartGrid{
        font-size: 22px;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    .btnaddd{
      border: 1px solid red;
        height: 25px;
        padding: 0px 2px 0px 2px!important;
    }
    .btnRem ion-icon{
      color: #f53d3d !important;
      font-size: 20px !important;
  }
    .btnRem{
      padding: 0px;
        position: relative;
        bottom: 17px;
        left: 10px;
    }
    .empty2 button{
      font-size: 14px;
    }
    .empty{
      padding: 0px 80px 0px 80px;
    }
    .empty1{
      font-size: 20px;
        padding-top: 20px;
        font-weight: bold;
    }
    .empty2{
      margin-bottom: 30px;
        padding: 0px;
    }
    .total{
      color: white;
        align-items: center;
        display: flex;
        font-size: 18px;
    }
      .btnFooter button{
        font-size: 14px;
        height: 36px;
      }
      .rowB b{
          font-size: 14px;
      }
      .btnRemove button{
        width: 64px;
        height: 27px;
        font-size: 12px;
      }
      .btnRemove{
        text-align: right;
        padding-top: 10px;
      }
      .btnQty{
        font-size: 16px;
      }
      .compact ion-icon{
          font-size: 25px;
      }
      .cartP{
        padding-left: 0px !important;
        font-size: 12px !important;
      }
      .h2Title{
          font-size: 16px !important;
      }
    .cartGrid{
        font-size: 14px;
    }
    .cartThmbl img{
        width: 70px !important;
        height: 70px !important;
        margin-top: 0px;
    }
    
  }