


@media screen and (max-width: 2220px) {
    .shopCard{
        font-size: 40px;
        font-weight: bold;
        padding: 20px 0px 20px 0px;
        background: #77d4f3;
    }
    .subIcon{
        font-size: 50px !important;
    }
    .dottedDiv{
        border: 3px solid #1eb1e2;
        /* padding: 19px; */
        margin: 10px 10px 10px 10px;
        border-style: dashed;
        border-radius: 10px;
    }
  }
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    .dottedDiv{
        border: 2px solid #1eb1e2;
        /* padding: 19px; */
        margin: 8px 8px 6px 8px;
        border-style: dashed;
        border-radius: 8px;
    }
    .subIcon{
        font-size: 40px !important;
    }
    .shopCard{
        font-size: 30px;
        font-weight: bold;
        padding: 15px 0px 15px 0px;
        background: #77d4f3;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    .dottedDiv{
        border: 1px solid #1eb1e2;
        /* padding: 19px; */
        margin: 4px 4px 0px 4px;
        border-style: dashed;
        border-radius: 5px;
    }
      .subIcon{
          font-size: 30px !important;
      }
    .shopCard{
        font-size: 18px;
        font-weight: bold;
        padding: 8px 0px 8px 0px;
        background: #77d4f3;
    }
    
  }