<!--
  Generated template for the SubCategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="headerCart">

  <ion-navbar  color="danger">  
       <ion-icon name="arrow-back" class="subIcon" style="color: white !important;" (click)="close()"></ion-icon>
 
 <ion-title>Sub Category</ion-title>

</ion-navbar>

</ion-header>

<ion-content>

  <!--top banner-->
  <ion-card>
    <ion-slides loop="true" autoplay="3000" pager>        
      <ion-slide  class="slide1">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnndRCmfJgvMT1fKuRzVeZEtxRg7oKp4R8qw&usqp=CAU" />       
      </ion-slide>

      <ion-slide  class="slide1">
        <img src="https://virtual-race-submissions.s3-ap-southeast-1.amazonaws.com/images/WEB-BANNER-1900X1000-jpg-16w24052018-155006" />       
      </ion-slide>

      <ion-slide  class="slide1">
        <img src="https://ittisa.com/wp-content/uploads/2017/07/2-20.png" />       
      </ion-slide>
                 
    </ion-slides>
  </ion-card>
  <!--end top banner-->

  <div padding>

    <ion-card text-center class="shopCard">
      <span>Shop by Category</span>
    </ion-card>

    <!-- <ion-card class="cardCategory" style="margin-top: 16px !important;">         
      <ion-card-content class="contentHome">
         -->
          <ion-row>
           
            
            <ion-col class="colShop1" col-6 style="border-bottom: 1px solid #c9c5c5;" *ngFor="let sub of subCategoryList">
              <ion-card (click)="productList(sub.id)">
                <ion-card-content class="contentHome">
              <div class="dottedDiv">
                 <div>
                    <img src="{{sub.image}}">
                 </div>
                 <div text-center><span class="catSpan">{{sub.name}}</span></div>

                </div>
              </ion-card-content>
            </ion-card>
            </ion-col>
         
           
          </ion-row>
  
      <!-- </ion-card-content>
    </ion-card>  -->

  </div>

</ion-content>
