<!--
  Generated template for the MyListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu" style="color: white !important"></ion-icon>
    </button>
    <ion-title>Your Shopping List</ion-title>
    <ion-icon name="search" class="listIcon" (click)="searchPage()"></ion-icon>
  </ion-navbar>
</ion-header>

<ion-content>
  <!--segment button div-->
  <div class="divtoplist1">
    <!-- Scrollable Segment -->
    <div no-border class="scrollable-segments">
      
      <ion-segment [(ngModel)]="entryStatus" class="listSeg">

        <ion-segment-button value="all" (click)="getAllMixProductList()" *ngIf="AllDiv">
          <span>All</span>
        </ion-segment-button>

        <ion-segment-button [value]="sub.id" *ngFor="let sub of subCategoryList" (click)="productList(sub.id)">
          <span>{{sub.name}}</span>
        </ion-segment-button>

      </ion-segment>
    </div>

    <div text-center class="divOur">Our Recommendations For You</div>
    <div text-center class="divBased">
      Based on what customers like you have bought
    </div>
  </div>
  <!--end segment div-->


  <ion-row *ngIf="noProductDIV">
    <ion-col col-12 class="empty" style="padding: 20px 80px 0px 80px;">
      <img src="./assets/icon/product.png">
      <div text-center class="empty1">No Products</div>     
    </ion-col>      
  </ion-row>

  <!--product list-->
  <div *ngIf="ProductDIV">
  <ion-grid style="border-bottom: 1px solid #d4cfcf" *ngFor="let prdct of product" >
    <ion-row>
      <ion-col col-4 (click)="openProductPage(prdct)">
        <!-- <span class="off">$21 OFF</span> -->
        <ion-card class="cardList">
          <img
            src="{{prdct.images[0].src}}"
          />
        </ion-card>
      </ion-col>
      <ion-col col-8>
        <ion-row>
          <ion-col col-8 class="firstCol"> {{prdct.categories[0]}} </ion-col>
          <ion-col col-4>
            <span class="spanCar"
              ><ion-icon name="car"></ion-icon><span>1 day</span>
            </span>
          </ion-col>

          <div class="prNameDiv">{{prdct.title}}</div>

          <!--condition based div-->

          <ion-col col-12 *ngIf="prdct.variations.length > 0">
            <!--not dropdown-->
            <!-- <div class="divGram">200g-(8 Cubes)</div>  -->

            <!--show dropdown-->
            <ng-container *ngFor="let attribute of prdct.attributes">
            <div *ngIf="attribute.variation">    

              <ion-select class="select1" placeholder="Select option" [(ngModel)]="selectedOptions[attribute.name]" (ionChange)="check(attribute.name, prdct, prdct.id)">
                <!-- <ion-option selected="true"> 200 g- Pouch- Rs 118</ion-option> -->
                <ion-option *ngFor="let option of attribute.options" [value]="option">{{ option }}</ion-option>
               
              </ion-select>
              
            </div>
          </ng-container>
          </ion-col>

          <!--end condion based div-->

          <div class="prNameDiv" *ngIf="prdct.sale_price == null">Rs  {{prdct.price}}</div>

          <span style="margin-left: 5px;" *ngIf="prdct.sale_price != null">
            <span class="spanPrice">Rs: {{ prdct.sale_price }}</span>&nbsp;&nbsp;&nbsp;<span class="spanMrp">MRP: <span>Rs {{ prdct.regular_price }}</span></span><br>
            </span>

          <div style="width: 100%">
            <button ion-button color="danger" class="addBtn" (click)="addToCart(prdct, prdct.id)">Add</button>
          </div>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
  <!-- end product list-->
 
</ion-content>

<ion-footer>
  <ion-row class="footerRow">
    <ion-col text-center (click)="homeTab()">
      <ion-icon name="ios-home-outline"></ion-icon><br />
      <span>Home</span>
    </ion-col>

    <ion-col text-center>
      <ion-icon name="ios-apps-outline" (click)="categoryTab()"></ion-icon
      ><br />
      <span>Categories</span>
    </ion-col>

    <ion-col text-center (click)="searchTab()">
      <ion-icon name="search"></ion-icon><br />
      <span>Search</span>
    </ion-col>

    <ion-col text-center style="color: green !important">
      <ion-icon
        name="ios-document-outline"
        style="color: green !important"
      ></ion-icon
      ><br />
      <span>My List</span>
    </ion-col>

    <ion-col text-center (click)="CartTab()">
      <span class="cartSpan"*ngIf="cartLength">{{cartLength}}</span>
      <ion-icon name="ios-cart-outline"></ion-icon><br />
      <span>Cart</span>
    </ion-col>
  </ion-row>
</ion-footer>
