

.listSeg ion-segment-button{
    opacity: 1.0 !important;
}
.segment-ios .segment-button{
    border-color: #e3e5e8;
}

.segment-md .segment-button {   
    font-size: 1.2rem;
    font-weight: 500;
    font-weight: 500;
  //  line-height: 1.5rem;
    line-height: 4rem;
    text-transform: none;
    color: #488aff;
    background-color: transparent;    
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.segment-button {   
    text-overflow: ellipsis; 
     white-space: normal;   
}

// new css of product list
.cardList img{
    margin-top: 0px;
    padding: 1px;
}


.select1{
    max-width: 100%;
    padding: 0px ;
}
.select1 .select-text {
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 16px;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid #e0d6d6;
    padding: 0px 0px 0px 4px;
    border-radius: 4px;
    height: 19px;
    
}
.select1  .select-icon {  
    border: 1px solid #e0d6d6;
    border-radius: 4px;
    margin-left: 3px;
    padding-right: 18px;
    height: 19px;
}








    // responsive css
    @media screen and (max-width: 2220px) {
        .listIcon{
            font-size: 55px;
            float: right;
            color: white !important;
        }
        .listSeg ion-segment-button{
            border-bottom: 0px;
            border: 1px solid #d0cccc;
            border-radius: 5px;
            margin-right: 40px;
            color: black !important;
            background: white !important;
        }
        .segment-ios .segment-button {     
            font-size: 2.9rem;      
    }
    .scrollable-segments {
        ion-segment {
          display: block;
          overflow-x: scroll;
          white-space: nowrap;
        
          ion-segment-button.segment-button {
            display: inline-block;
            width: auto;
            padding: 40px 40px 40px 40px;
            line-height: 0rem;
          }
         }
        }
        .divOur{
            font-size: 30px;
            font-weight: bold;
            margin-top: 40px;
        }
        .divBased{
            font-size: 28px;
        }
        .divtoplist1{
            background: #d8d7d7;
            height: 260px;
            padding: 16px;
        }
        .segment-ios .segment-button:first-of-type {
            border-top-left-radius: 5px; 
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px; 
            border-bottom-left-radius: 5px;
            margin-right: 20px;
            line-height: 0rem;
       }
       .segment-ios .segment-button:not(:first-of-type) {
           border-left-width: 0;
           line-height: 0rem;
       }

       .cardList{
        border-radius: 30px;
    }
    .firstCol{
        font-size: 28px;
        color: gray;
        text-transform: uppercase;
    }
    .spanCar{
        border: 1px solid #e2dede;
        border-radius: 10px;
        /* padding: 0px 0px 0px 7px; */
        display: flex;
        align-items: center;
        height: 30px;
        width: 140px;
        float: right;
    }
    .spanCar ion-icon{
        font-size: 28px;
        color: gray;
        color: #969494 !important;
    }
    .spanCar span{
        font-size: 18px;
    }
    .prNameDiv{
        width: 100%;
        padding-left: 5px;
        font-size: 36px;
        font-weight: bold;
    }
    .divGram{
        background: #d8d7d7;
        padding-left: 16px;
        height: 50px;
        display: flex;
        align-items: center;
        font-size: 30px;
        border-radius: 20px;
    }
    .select1 .select-text {
        overflow: hidden;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        min-width: 16px;
        font-size: 35px;
        text-overflow: ellipsis;
        white-space: nowrap;
        border: 1px solid #e0d6d6;
        padding: 0px 0px 0px 4px;
        border-radius: 4px;
        height: 50px;
        
    }
    .select1  .select-icon {  
        border: 1px solid #e0d6d6;
        border-radius: 4px;
        margin-left: 10px;
        padding-right: 20px;
        height: 50px;
    }
    .addBtn{
        height: 60px;
        float: right;
        font-size: 30px;
    }
    .off{
        background: #50b36a;
        position: relative;
        top: 27px;
        border-top-left-radius: 7px;
        border-bottom-right-radius: 7px;
        font-size: 22px;
        color: white;
        padding: 1px 20px 1px 20px;
    }
    }
    /* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    .off{
        background: #50b36a;
        position: relative;
        top: 19px;
        border-top-left-radius: 7px;
        border-bottom-right-radius: 7px;
        font-size: 16px;
        color: white;
        padding: 1px 14px 1px 14px;
    }
    .addBtn{
        height: 50px;
        float: right;
        font-size: 25px;
    }
    .select1 .select-text {
        overflow: hidden;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        min-width: 16px;
        font-size: 27px;
        text-overflow: ellipsis;
        white-space: nowrap;
        border: 1px solid #e0d6d6;
        padding: 0px 0px 0px 4px;
        border-radius: 4px;
        height: 40px;
        
    }
    .select1  .select-icon {  
        border: 1px solid #e0d6d6;
        border-radius: 4px;
        margin-left: 10px;
        padding-right: 20px;
        height: 40px;
    }
    .divGram{
        background: #d8d7d7;
        padding-left: 13px;
        height: 40px;
        display: flex;
        align-items: center;
        font-size: 20px;
        border-radius: 10px;
    }
    .prNameDiv{
        width: 100%;
        padding-left: 5px;
        font-size: 26px;
        font-weight: bold;
    }
    .spanCar{
        border: 1px solid #e2dede;
        border-radius: 10px;
        /* padding: 0px 0px 0px 7px; */
        display: flex;
        align-items: center;
        height: 25px;
        width: 75px;
        float: right;
    }
    .spanCar ion-icon{
        font-size: 18px;
        color: gray;
        color: #969494 !important;
    }
    .spanCar span{
        font-size: 12px;
    }
    .firstCol{
        font-size: 20px;
        color: gray;
        text-transform: uppercase;
    }
    .cardList{
        border-radius: 20px;
    }
    .segment-ios .segment-button:first-of-type {
        border-top-left-radius: 5px; 
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; 
        border-bottom-left-radius: 5px;
        margin-right: 20px;
        line-height: 0rem !important;
   }
   .segment-ios .segment-button:not(:first-of-type) {
       border-left-width: 0;
       line-height: 0rem !important;
   }
    .divOur{
        font-size: 22px;
        font-weight: bold;
        margin-top: 30px;
    }
    .divBased{
        font-size: 20px;
    }
    .divtoplist1{
        background: #d8d7d7;
        height: 200px;
        padding: 16px;
    }
    .scrollable-segments {
        ion-segment {
          display: block;
          overflow-x: scroll;
          white-space: nowrap;
        
          ion-segment-button.segment-button {
            display: inline-block;
            width: auto;
            padding: 30px 30px 30px 30px;
            line-height: 0rem;
          }
         }
        }
    .segment-ios .segment-button {     
        font-size: 2.0rem;      
}
    .listSeg ion-segment-button{
        border-bottom: 0px;
        border: 1px solid #d0cccc;
        border-radius: 5px;
        margin-right: 30px;
        color: black !important;
        background: white !important;
    }
    .listIcon{
        font-size: 40px;
        float: right;
        color: white !important;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    .off{
        background: #50b36a;
        position: relative;
        top: 13px;
        border-top-left-radius: 7px;
        border-bottom-right-radius: 7px;
        font-size: 8px;
        color: white;
        padding: 1px 9px 1px 10px;
    }
    .addBtn{
        height: 25px;
        float: right;
        font-size: 14px;
    }
    .select1 .select-text {
        overflow: hidden;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        min-width: 16px;
        font-size: 12px;
        text-overflow: ellipsis;
        white-space: nowrap;
        border: 1px solid #e0d6d6;
        padding: 0px 0px 0px 4px;
        border-radius: 4px;
        height: 19px;
        
    }
    .select1  .select-icon {  
        border: 1px solid #e0d6d6;
        border-radius: 4px;
        margin-left: 3px;
        padding-right: 18px;
        height: 19px;
    }
    .divGram{
        background: #d8d7d7;
        padding-left: 5px;
        height: 18px;
        display: flex;
        align-items: center;
        font-size: 10px;
        border-radius: 3px;
    }
    .prNameDiv{
        width: 100%;
        padding-left: 5px;
        font-size: 16px;
        font-weight: bold;
    }
    .spanCar{
        border: 1px solid #e2dede;
        border-radius: 10px;
        /* padding: 0px 0px 0px 7px; */
        display: flex;
        align-items: center;
        height: 15px;
        width: 42px;
        float: right;
    }
    .spanCar ion-icon{
        font-size: 11px;
        color: gray;
        color: #969494 !important;
    }
    .spanCar span{
        font-size: 7px;
    }
    .firstCol{
        font-size: 12px;
        color: gray;
        text-transform: uppercase;
    }
    .cardList{
        border-radius: 7px;
    }
    .segment-ios .segment-button:first-of-type {
        border-top-left-radius: 5px; 
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; 
        border-bottom-left-radius: 5px;
        margin-right: 20px;
        line-height: 3rem !important;
   }
   .segment-ios .segment-button:not(:first-of-type) {
       border-left-width: 0;
       line-height: 3rem !important;
   }
    .divOur{
        font-size: 16px;
        font-weight: bold;
        margin-top: 15px;
    }
    .divBased{
        font-size: 14px;
    }
    .divtoplist1{
        background: #d8d7d7;
        height: 123px;
        padding: 16px;
    }
    .scrollable-segments {
        ion-segment {
          display: block;
          overflow-x: scroll;
          white-space: nowrap;
        
          ion-segment-button.segment-button {
            display: inline-block;
            width: auto;
            padding: 0px 20px 0px 20px;
            line-height: 4rem;
          }
         }
        }
    .segment-ios .segment-button {     
                font-size: 1.2rem;      
    }
    .listSeg ion-segment-button{
        border-bottom: 0px;
        border: 1px solid #d0cccc;
        border-radius: 5px;
        margin-right: 20px;
        color: black !important;
        background: white !important;
    }
    .listIcon{
        font-size: 30px;
        float: right;
        color: white !important;
    }
  }