<ion-header>
  <ion-navbar  color="danger">
       <button ion-button menuToggle>
      <ion-icon name="menu" style="color: white !important;"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
   
  </ion-navbar>

  <!-- <ion-toolbar color="danger"> -->
    <!-- <ion-searchbar [(ngModel)]="searchQuery" (search)="onSearch($event)"></ion-searchbar>     -->
   <div class="divTool">
    <div class="divSearch" (click)="searchPage()">
      <ion-icon name="search"></ion-icon> <span>Search products</span>
    </div>
  </div>
  <!-- </ion-toolbar> -->
</ion-header>

<ion-content no-padding>

<!--Top banner-->

<ion-card class="topBanner">
  <img src="https://image.freepik.com/free-vector/cosmetics-beauty-products-makeup-sale-banner-with-glowing-neon-background-pink-sparkles_33099-1429.jpg">
</ion-card>

<!--top banner-->

  <ion-card>
    <ion-slides loop="true" autoplay="3000" pager>   

      <!-- <ion-slide *ngFor="let number of [1,2,3,4]" class="slide1">
        <img src="./assets/images/{{number}}.jpg" />       
      </ion-slide> -->

      <ion-slide  class="slide1">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnndRCmfJgvMT1fKuRzVeZEtxRg7oKp4R8qw&usqp=CAU" />       
      </ion-slide>

      <ion-slide  class="slide1">
        <img src="https://virtual-race-submissions.s3-ap-southeast-1.amazonaws.com/images/WEB-BANNER-1900X1000-jpg-16w24052018-155006" />       
      </ion-slide>

      <ion-slide  class="slide1">
        <img src="https://ittisa.com/wp-content/uploads/2017/07/2-20.png" />       
      </ion-slide>
                 
    </ion-slides>
  </ion-card>

  <!--Shop by category-->

  <div padding>
  <ion-card class="cardCategory">
    <ion-card-header>             
              <ion-row>
                  <ion-col col-2 >
                        
                  </ion-col>
                  <ion-col col-8 text-center class="shopCol">SHOP BY CATEGORY</ion-col>
                  <ion-col col-2>
                      
                  </ion-col>
              </ion-row>
    </ion-card-header>
  
    <ion-card-content class="contentHome">
      
        <ion-row>
          <ion-col class="colShop1"  *ngIf="categoryList">
               <div (click)="Subcategory(categoryList.id)">
                  <img src="{{categoryList.image}}">
               </div>
               <div text-center><span class="catSpan">{{categoryList.name}}</span></div>
          </ion-col>   
          <ion-col class="colShop1"  *ngIf="categoryList2">
            <div (click)="Subcategory(categoryList2.id)">
               <img src="{{categoryList2.image}}">
            </div>
            <div text-center><span class="catSpan">{{categoryList2.name}}</span></div>
       </ion-col>        
        </ion-row>

    </ion-card-content>
  </ion-card>

  <!--3 category in 1 row-->
    <ion-card class="Card3">
      <ion-row>

        <ion-col class="colShop1" col-4 style="border-bottom: 1px solid #d7d5d5;"  *ngFor="let category of CategoryListAll">
             <div (click)="Subcategory(category.id)">
                <img src="{{category.image}}" class="img3Cat">
             </div>
             <div text-center class="divCathome"><span class="catSpan">{{category.name}}</span></div>
        </ion-col>        

      </ion-row>
    </ion-card>
  <!--end 3-category-->

</div>


  <!--shop by category-->

  
  <!--second banner-->
  <!-- <img class="bannerImg" src="./assets/images/banner3.jpeg" /> -->
<ion-card class="topBanner">
  <img src="https://www.bigbasket.com/media/uploads/section_item/images/hdpi/Ghee-big-basket-Banner-1360x640-.jpg">
</ion-card>
  <!--end second banner-->


  <!-- <ion-grid>
    <ion-row>
      <ion-slides #productSlides>
        <ion-slide *ngFor="let product of products" (click)="openProductPage(product)">
          <ion-card no-padding>
            <img [src]="product.featured_src" />
            <h1 padding center> {{ product.title }} </h1>
            <p center padding [innerHTML]="product.short_description"></p>

          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid> -->

  <ion-grid class="gridProduct">
    <ion-card>
        <ion-row>
          <ion-col col-6  *ngFor="let product of products" (click)="openProductPage(product)">
              <img class="img1" [src]="product.featured_src">
              <!-- <h3 center>{{ product.title }}</h3>    -->
              <div class="divFix">
              <div class="r"><span>{{ product.title }}</span></div>  
            </div>         
            </ion-col>
          
        </ion-row>
    </ion-card>
  </ion-grid>

  <ion-list>
    <ion-item *ngFor="let product of moreProducts" text-wrap (click)="openProductPage(product)">
      <ion-thumbnail item-left>
        <img [src]="product.featured_src" />
      </ion-thumbnail>

      <h2> {{ product.title }} </h2>

      <p>
        <span [innerHTML]="product.short_description.substr(0, 50) + '...'"></span>
        <span [innerHTML]="product.price_html"></span>
      </p>

      <button ion-button icon clear item-right>
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-item>
  </ion-list>


  <!--recommendations-->

  <!-- <div padding>
    <ion-card class="cardCategory">
      <ion-card-header>             
                <ion-row>
                    <ion-col col-2 >
                          
                    </ion-col>
                    <ion-col col-8 text-center class="shopCol">RECOMMENDATIONS</ion-col>
                    <ion-col col-2>
                        
                    </ion-col>
                </ion-row>
      </ion-card-header>
    
      <ion-card-content style="padding: 0px;">
        
        <ion-grid style="border-bottom: 1px solid #d4cfcf;">
          <ion-row>
            <ion-col col-4>
              <span class="off">20% OFF</span>
              <ion-card class="cardList">
                  <img src="https://5.imimg.com/data5/TF/US/MY-28264228/red-onion-500x500.jpg">
              </ion-card>
            </ion-col>
            <ion-col col-8>
        
                <ion-row>
                  <ion-col col-8 class="firstCol">
                     Fresho
                  </ion-col>
                  <ion-col col-4>                
                  </ion-col>
        
                  <div class="prNameDiv">Onion - Medium/pyaj</div>
        
                                         
                      <ion-col col-12>        
                     
                      
        
                        show dropdown
                        <div>                         
                            <ion-select class="select1">
                              <ion-option> 1option 1</ion-option>
                              <ion-option> 2option 1</ion-option>
                              <ion-option> 3option 1</ion-option>
                            </ion-select>                       
                        </div>
        
                      </ion-col>
        
                 
                  <div class="prNameDiv">49</div>
                
                    <div style="width: 100%;">
                    <button ion-button color="danger" class="addBtn">Add</button>  
                  </div>              
        
                </ion-row>
        
            </ion-col>
          </ion-row>
        </ion-grid>

      
  
      </ion-card-content>

      <div text-center class="viewmore">View more ></div>

    </ion-card>
  </div> -->

  <!--end recommendations-->

  <!--vender Connect-->
      <!-- <div padding>
          <ion-card class="getstart" style="background-image: url('./assets/images/truck1.jpg');">
              <ion-row>
                <ion-col col-6 class="colVender">
                  <span text-center>
                  <span class="vendroSpan">Vendor Connect</span><br>
                  <span class="vendroSpan2">Associate With Us</span>
                </span>
                </ion-col>
                <ion-col col-6></ion-col>
              </ion-row>
          </ion-card>
      </div> -->
  <!--end vender connect-->

  <ion-infinite-scroll (ionInfinite)="loadMoreProducts($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>



</ion-content>

<ion-footer>
  <ion-row class="footerRow">

    <ion-col text-center  style="color: green !important;">
      <ion-icon name="ios-home-outline" style="color: green !important;"></ion-icon><br>
      <span>Home</span>        
    </ion-col>

    <ion-col text-center (click)="categoryTab()">
      <ion-icon name="ios-apps-outline" ></ion-icon><br>
      <span >Categories</span>        
    </ion-col>

    <ion-col text-center (click)="searchTab()">
      <ion-icon name="search"></ion-icon><br>
      <span>Search</span>        
    </ion-col>

    <ion-col text-center (click)="myListTab()">
      <ion-icon name="ios-document-outline"></ion-icon><br>
      <span>My List</span>        
    </ion-col>

    <ion-col text-center (click)="CartTab()">
      <span class="cartSpan"*ngIf="cartLength">{{cartLength}}</span>
      <ion-icon name="ios-cart-outline"></ion-icon><br>
      <span>Cart</span>        
    </ion-col>

  </ion-row>
</ion-footer>

