

    ion-card {
        margin: 0 !important;
        width: 100% !important;
    }    

    
   
    .slide1 img{
        width: 100% !important;
        margin-top: 0px;   
        border-radius: 0px ;    
        // width: 100% !important;
        // max-width: 100%;
        // min-width: 100%;
        // height: 100%;
        // object-fit: fill;
    }

    .searchbar-input-container{
       // background-color: white !important;
    border-radius: 5px !important;
    }
    
    .searchbar-md {      
        padding: 8px !important;
    }

    .topBanner{
       border-radius: 0px;
      }
      .img1{
          margin-top: 0px;
      }

    // .searchbar-md .searchbar-input {        
    //     border-radius: 10px;        
    // }

//  .searchbar-search-icon {
// background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20512%20512'><path%20fill='%235b5b5b'%20d='M337.509,305.372h-17.501l-6.571-5.486c20.791-25.232,33.922-57.054,33.922-93.257C347.358,127.632,283.896,64,205.135,64C127.452,64,64,127.632,64,206.629s63.452,142.628,142.225,142.628c35.011,0,67.831-13.167,92.991-34.008l6.561,5.487v17.551L415.18,448L448,415.086L337.509,305.372z%20M206.225,305.372c-54.702,0-98.463-43.887-98.463-98.743c0-54.858,43.761-98.742,98.463-98.742c54.7,0,98.462,43.884,98.462,98.742C304.687,261.485,260.925,305.372,206.225,305.372z'/></svg>")!important;
// }

.bannerImg{
    border: 1px solid #ded7d7;
    border-radius: 0px;
}
   
.topBanner{
    padding: 16px;
}
.topBanner img{
    margin-top: 0px;
    border-radius: 5px;
}



.colLeft{
    border-right: 5px solid #222222;
    border-radius: 20px;
    font-size: 12px;
    align-items: center;
    display: flex;
    font-weight: bold;
    color: #2857a4;
}
.colRight{
    border-left: 5px solid #222222;
    border-radius: 20px;
    font-size: 12px;
    align-items: center;
    display: flex;
    font-weight: bold;
    color: #eb342c;
}
.colShop1{
    padding: 0px 0px 4px 0px;
    border-right: 1px solid #c7c3c3;
}

.contentHome{
    padding: 0px;
}


.Card3{
    margin-top:10px !important;
}
.divCathome{
    padding: 0px 1px 0px 1px !important;
}

.r {
    white-space: nowrap; 
    width: 155px; 
    overflow: hidden;
    text-overflow: ellipsis;    
  }
  .colShop1 img{
      border-radius: 0px;
  }
  .divFix{
      display: flex;
      justify-content: center;
      text-align: center;
  }
.divSearch{
    background: white;
    border-radius: 5px;
   // margin: 10px;
    display: flex;
    align-items: center;
    width: 100% !important;
}




    /* On screens that are 2220 or less, set the background color to blue */

    @media screen and (max-width: 2220px) {
        .cartSpan{
            background: red;
            color: white;
            border-radius: 50%;
            padding: 3px 12px 3px 12px;
            position: absolute;
            left: 100px;
        }
        .bannerImg{
            margin-top: 30px;
            min-width: 100%;
        }
        .gridProduct{
            padding: 16px;
        }
       .gridProduct h3{
        text-align: center;
        margin-top: 0%;
        font-size: 35px;
        font-weight: bold;
        margin-bottom: 2%;
        }
        .img1{
            padding: 50px;
            height: 475px;
        }
        .gridProduct ion-col{
            border-right: 1px solid #c5c3c3;
        }
        .searchbar-ios .searchbar-input{
            font-size: 2.9rem !important;
        }
        .topBanner{
            margin-top: 30px;
          }
          .toolbar-ios-danger .searchbar-ios .searchbar-search-icon {    
            margin-top: 14px;
        }
        .toolbar-ios-danger .searchbar-ios .searchbar-input {
            color: #fff;
            background: rgba(255, 255, 255, 0.08);
            height: 60px;
        }
        .slide1{
            width: 100% !important;      
            height: 530px;
        }
        .cardCategory ion-card-header{
            background: #c7d64f;
            padding: 18px 0px 18px 0px;
        }
        .shopCol{
            font-weight: bold;
            font-size: 35px;
        }
        .colShop1 img{
            margin: 0px !important;
            height: 450px;
        }
        .catSpan{
            font-size: 32px;
            font-weight: bold;
        }
        .img3Cat{
            height: 350px !important;
        }
        .viewmore{
            font-size: 30px;
            font-weight: bold;
            color: #f53d3d;
            padding: 25px 0px 25px 0px;
        }
        .getstart {

            background-image: url('./assets/images/truck1.jpg');
            // background: url('../../img/getstart.png');
            background-repeat: no-repeat;
            background-size:cover;
            height: 280px;
            
        }
        .colVender{
            height: 280px !important;
            display: flex;
            align-items: center;
        }
        .vendroSpan{
            font-size: 65px;
            font-weight: bold;
        }
        .vendroSpan2{
            font-size: 35px;
        }
        .divSearch ion-icon{
            font-size: 40px;
            margin: 20px 20px 20px 20px;
            color: #ada8a8 !important;
        }
        .divSearch span{
            color: #ada8a8  !important;
        }
        .divTool{
            background: #50b36a;
            padding: 40px;
        }
        .r span{
            font-size: 30px;
        }
      }
  /* On screens that are 2220 or less, set the background color to blue */
@media screen and (max-width: 992px) {
    .r span{
        font-size: 22px;
    }
    .divSearch ion-icon{
        font-size: 30px;
        margin: 15px 17px 15px 19px;
        color: #ada8a8 !important;
    }
    .divSearch span{
        color: #ada8a8  !important;
    }
    .divTool{
        background: #50b36a;
        padding: 30px;
    }
    .cartSpan{
        background: red;
        color: white;
        border-radius: 50%;
        padding: 3px 10px 3px 10px;
        position: absolute;
        left: 77px;
    }
    .vendroSpan2{
        font-size: 25px;
    }
    .vendroSpan{
        font-size: 47px;
        font-weight: bold;
    }
    .colVender{
        height: 190px !important;
        display: flex;
        align-items: center;
    }
    .getstart {

        background-image: url('./assets/images/truck1.jpg');
        // background: url('../../img/getstart.png');
        background-repeat: no-repeat;
        background-size:cover;
        height: 190px;
        
    }
    .viewmore{
        font-size: 25px;
        font-weight: bold;
        color: #f53d3d;
        padding: 20px 0px 20px 0px;
    }
    .img3Cat{
        height: 250px !important;
    }
    .catSpan{
        font-size: 25px;
        font-weight: bold;
    }
    .colShop1 img{
        margin: 0px !important;
        height: 350px;
    }
    .shopCol{
        font-weight: bold;
        font-size: 30px;
    }
    .cardCategory ion-card-header{
        background: #c7d64f;
        padding: 12px 0px 12px 0px;
    }
    .slide1{
        width: 100% !important;      
        height: 400px;
    }
    .toolbar-ios-danger .searchbar-ios .searchbar-search-icon {    
        margin-top: 9px;
    }
    .toolbar-ios-danger .searchbar-ios .searchbar-input {
        color: #fff;
        background: rgba(255, 255, 255, 0.08);
        height: 50px;
    }
    .topBanner{
        margin-top: 19px;
      }
    .searchbar-ios .searchbar-input{
        font-size: 1.9rem !important;
    }
    .bannerImg{
        margin-top: 20px;
        min-width: 100%;
    }
    .gridProduct{
        padding: 16px;
    }
   .gridProduct h3{
    text-align: center;
    margin-top: 0%;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 2%;
    }
    .img1{
        padding: 35px;
        height: 350px;
    }
    .gridProduct ion-col{
        border-right: 1px solid #c5c3c3;
    }
   
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
      .r span{
          font-size: 14px;
      }
    .divSearch ion-icon{
        font-size: 20px;
        margin: 9px 9px 9px 10px;
        color: #ada8a8  !important;
    }
    .divSearch span{
        color: #ada8a8  !important;
    }
    .divTool{
        background: #50b36a;
        padding: 15px;
    }
    .cartSpan{
        background: red;
        color: white;
        border-radius: 50%;
        padding: 2px 6px 2px 6px;
        position: absolute;
        left: 37px;
    }
    .vendroSpan2{
        font-size: 14px;
    }
    .vendroSpan{
        font-size: 21px;
        font-weight: bold;
    }
    .colVender{
        height: 90px !important;
        display: flex;
        align-items: center;
    }
    .getstart {

        background-image: url('./assets/images/truck1.jpg');
        // background: url('../../img/getstart.png');
        background-repeat: no-repeat;
        background-size:cover;
        height: 90px;
        
    }
    .viewmore{
        font-size: 14px;
        font-weight: bold;
        color: #f53d3d;
        padding: 10px 0px 10px 0px;
    }
    .img3Cat{
        height: 100px !important;
    }
    .catSpan{
        font-size: 11px;
        font-weight: bold;
    }
    .colShop1 img{
        margin: 0px !important;
        height: 163px;
    }
    .shopCol{
        font-weight: bold;
        font-size: 18px;
    }
    .cardCategory ion-card-header{
        background: #c7d64f;
        padding: 0px 0px 0px 0px;
    }
    .slide1{
        width: 100% !important;      
       // height: 250px;
        height: 170px;
    }
    .toolbar-ios-danger .searchbar-ios .searchbar-search-icon {    
        margin-top: 4px;
    }
    .toolbar-ios-danger .searchbar-ios .searchbar-input {
        color: #fff;
        background: rgba(255, 255, 255, 0.08);
        height: 40px;
    }
      .topBanner{
        margin-top: 8px;
      }
    .searchbar-ios .searchbar-input{
        font-size: 1.5rem !important;
    }
    .bannerImg{
        margin-top: 10px;
        min-width: 100%;
    }
    .gridProduct{
       // padding: 16px;
       padding: 6px 16px 10px 16px;
    }
   .gridProduct h3{
        text-align: center;
    margin-top: 5%;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 1%;
    }
    .img1{
        padding: 10px;
        height: 170px;
    }
    .gridProduct ion-col{
        border-right: 1px solid #c5c3c3;
    }

  }
