<!--
  Generated template for the OtpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-navbar>        
          <ion-icon name="close"></ion-icon>    
    <ion-title>Signup Using OTP</ion-title>
  </ion-navbar>  
</ion-header> -->

<ion-content>
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
    
      <ion-row class="rowOtp">
        <ion-col col-2 class="colIcon">
          <ion-icon name="arrow-back" (click)="backIcon()"></ion-icon>
        </ion-col>
        <ion-col col-8>
          <p text-center class="p2">Login Using OTP</p>
        </ion-col>
        <ion-col col-2></ion-col>
      </ion-row>
  
      <ion-row >
        <ion-col size="5" size-sm="5">            
        </ion-col>
        <ion-col size="2" size-sm="2">
          <img src="/assets/icon/logo3.png" style="margin-top: 0px;">
        </ion-col>
        <ion-col size="5" size-sm="5"></ion-col>
      </ion-row>


  <ion-grid>
    <ion-row>
      <ion-col col-12 text-center>
        <!-- <p class="p1">Please check the OTP sent to your mobile number</p> -->
        <span class="p1">Please check the OTP sent to your mobile number</span>
      </ion-col>
      <ion-col col-12 text-center>
        <span class="p3">{{sessionMobile}}</span>
        <span class="change" (click)="change()">Change</span>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-item>
    <ion-label floating>Enter OTP</ion-label>
    <ion-input type="number" class="input" formControlName="otp"></ion-input>
  </ion-item>
  <span class="error" *ngIf="isSubmitted && errorControl.otp.errors?.required">
    OTP is required.
  </span> 
  <!-- <span class="error" *ngIf="isSubmitted && errorControl.otp.errors?.pattern">
     Please insert 10 digit mobile number.
  </span>  -->

  <ion-row class="otpRow">
    <ion-col text-center>
      <span class="p4">{{displayTime}}</span>
      <span class="change" *ngIf="resendDiv" (click)="resendOtp()">Resend OTP</span>
    </ion-col>
  </ion-row>

  <div class="otpBtnDiv">
  <button ion-button color="danger" block type="submit">Login</button>
</div>

</form>
</ion-content>
