<!--
  Generated template for the RazorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="headerCart">

  <ion-navbar  color="danger">  
       <ion-icon name="arrow-back"  class="subIcon" style="color: white !important;"></ion-icon>
 
 <ion-title>Razor Pay</ion-title>

</ion-navbar>

</ion-header>

<ion-content padding>
  <ion-grid text-center>
    <ion-row>
      <ion-col class="razorCol">
        Use this Pay button with the attached logic in your app's payment page.
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card class="welcome-card">
    <img src="/assets/razor.jpeg">
    <ion-card-header>
      <h1>Get Started</h1>
      <h2 class="sample">Razor_pay Sample</h2>
      <ion-row class="amountCol">
        <ion-col>
          Total Payment
        </ion-col>
        <ion-col>
          {{currencyIcon}}{{paymentAmount/100}}
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <button class="btnPay" ion-button  block color="success" (click)="pay()">Pay with RazorPay</button>
    </ion-card-content>
  </ion-card>
 
</ion-content>


