

/* On screens that are 2220px or less, set the background color to blue */
@media screen and (max-width: 2220px) {
    .razorCol{
        font-weight: bold;
        font-size: 32px;
    }
    .sample{
        font-size: 45px !important;
        font-weight: bold !important;
    }
    .amountCol ion-col{
        font-size: 30px;
    font-weight: bold;
    color: gray;
    }
    .btnPay{
        font-size: 35px;
        padding: 50px;
      }
}
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    .btnPay{
        font-size: 25px;
        padding: 35px;
      }
    .sample{
        font-size: 35px !important;
        font-weight: bold !important;
    }
    .razorCol{
        font-weight: bold;
        font-size: 25px;
    }
    .amountCol ion-col{
        font-size: 22px;
    font-weight: bold;
    color: gray;
    }
  }  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {   
      .btnPay{
        font-size: 16px;
        padding: 25px;
      }
    .razorCol{
        font-weight: bold;
        font-size: 17px;
    }
    .sample{
        font-size: 25px !important;
        font-weight: bold !important;
    }
    .amountCol ion-col{
        font-size: 16px;
    font-weight: bold;
    color: gray;
    }
  }