// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



// .toolbarMain{
//   height: 170px !important;
// }
// .imgLogo{
//   margin-top: 0px !important;
// }


// toolbar top
.toolbar-content-md { 
  align-items: center;
  display: flex; 
 // text-align: center;
}


.back-button-icon-md {  
  color: white !important;
}
.back-button-icon-ios {  
  color: white !important;
}

.menuBtn .input-wrapper{
    font-weight: bold;
    font-family: 'Roboto';
    color: #3151a8;
}

.toolbar-md-danger .toolbar-background-md {
  background: #50b36a;
}
.toolbar-ios-danger .toolbar-background-ios {
  background: #50b36a;
}
.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
  color: black;
 
}
.toolbar-title-md { 
  color: white;
}
.toolbar-title-ios { 
  color: white;
}
.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
  color: white;
}

.searchbar-input { 
  border-radius: 10px !important;
 // height: 40px !important;  
}
.divGram{
  color: black;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 2220px) {       
    .toolbar-title-ios{
        font-size: 3.7rem !important;
    }
    .toolbar-title-md{
      font-size: 3.7rem !important;
  }
  .toolbar-ios {   
    min-height: 100px;
}
.bar-button-menutoggle-ios ion-icon {
  padding: 0 6px;
  font-size: 5rem;
}
  }
@media screen and (max-width: 992px) {  
  .bar-button-menutoggle-ios ion-icon {
    padding: 0 6px;
    font-size: 4rem;
  }
  .toolbar-ios {   
    min-height: 70px;
}
    .toolbar-title-ios{
        font-size: 2.7rem !important;
    }
    .toolbar-title-md{
      font-size: 2.7rem !important;
  }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    .bar-button-menutoggle-ios ion-icon {
      padding: 0 6px;
      font-size: 2.8rem;
    }
    .toolbar-title-ios{
        font-size: 2rem !important;
        }
        .toolbar-title-md{
          font-size: 2rem !important;
          }
  
  }
