.colPriceC{
    display: flex;
    justify-content: flex-end;
}
.cardCod{
    margin: 10px 0px 20px 0px!important;
}

/* On screens that are 2220px or less, set the background color to blue */
@media screen and (max-width: 2220px) {
    .razorCol{
        font-weight: bold;
        font-size: 32px;
    }
    .sample{
        font-size: 45px !important;
        font-weight: bold !important;
    }
    .amountCol ion-col{
        font-size: 30px;
    font-weight: bold;
    color: gray;
    }
    .btnPay{
        font-size: 35px;
        padding: 50px;
      }
      .spnAmount span{
        font-size: 30px;
    }
}
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    .spnAmount span{
        font-size: 22px;
    }
    .btnPay{
        font-size: 25px;
        padding: 35px;
      }
    .sample{
        font-size: 35px !important;
        font-weight: bold !important;
    }
    .razorCol{
        font-weight: bold;
        font-size: 25px;
    }
    .amountCol ion-col{
        font-size: 22px;
    font-weight: bold;
    color: gray;
    }
  }  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {   
    .spnAmount span{
        font-size: 14px;
    }
      .btnPay{
        font-size: 16px;
        padding: 25px;
      }
    .razorCol{
        font-weight: bold;
        font-size: 17px;
    }
    .sample{
        font-size: 25px !important;
        font-weight: bold !important;
    }
    .amountCol ion-col{
        font-size: 16px;
    font-weight: bold;
    color: gray;
    }
  }
.checkList{
    padding: 16px 16px 16px 16px;
}

// .currentClass{
//     border: 1px solid gray;
//     padding: 10px;
//     border-radius: 7px;
//     background: #50b36a;
//     color: white !important;
// }

@media screen and (max-width: 2220px) {
    .checkList ion-item-divider{
        border-radius: 20px;
        font-size: 30px;
    }
    .checkList ion-label,ion-input{
        font-size: 28px;
    }
    .btnCheck{
        background-color: #50b36a;
        font-size: 32px;
        height: 70px;
      }
      .alert-md .alert-title {
        font-size: 40px !important;
    }
    .alert-ios .alert-title {
        font-size: 40px !important;
    }
    .alert-md .alert-radio-label {        
        font-size: 30px;
    }
    .alert-ios .alert-radio-label {        
        font-size: 30px;
    }
    .alert-md .alert-button {        
        font-size: 30px;
    }
    .alert-ios .alert-button {        
        font-size: 30px;
    }
}
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    .alert-md .alert-button {        
        font-size: 22px;
    }
    .alert-ios .alert-button {        
        font-size: 22px;
    }
    .alert-md .alert-radio-label {        
        font-size: 20px;
    }
    .alert-ios .alert-radio-label {        
        font-size: 20px;
    }
    .alert-ios .alert-title {
        font-size: 30px !important;
    }
    .alert-md .alert-title {
        font-size: 30px !important;
    }
    .btnCheck{
        background-color: #50b36a;
        font-size: 22px;
        height: 55px;
      }
    .checkList ion-label,ion-input{
        font-size: 20px;
    }
    .checkList ion-item-divider{
        border-radius: 15px;
        font-size: 22px;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    .alert-md .alert-button {        
        font-size: 16px;
    }
    .alert-ios .alert-button {        
        font-size: 16px;
    }
    .alert-md .alert-radio-label {        
        font-size: 14px;
    }
    .alert-ios .alert-radio-label {        
        font-size: 14px;
    }
    .alert-ios .alert-title {
        font-size: 20px !important;
    }
    .alert-md .alert-title {
        font-size: 20px !important;
    }
      .btnCheck{
        background-color: #50b36a;
        font-size: 16px;
        height: 36px;
      }
      .checkList ion-label,ion-input{
          font-size: 14px;
      }

    .checkList ion-item-divider{
        border-radius: 10px;
        font-size: 16px;
    }
  }
