<!--
  Generated template for the SignupDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-navbar>
    <ion-title>signup-details</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content>

  <ion-row class="rowOtp">
    <ion-col col-2 class="colIcon">
      <ion-icon name="close" (click)="closeIcon()"></ion-icon>
    </ion-col>
    <ion-col col-8>
      <p text-center class="p2">Almost There!</p>
    </ion-col>
    <ion-col col-2></ion-col>
  </ion-row>

  <ion-row >
    <ion-col size="5" size-sm="5">            
    </ion-col>
    <ion-col size="2" size-sm="2">
      <img src="/assets/icon/logo3.png" style="margin-top: 0px;">
    </ion-col>
    <ion-col size="5" size-sm="5"></ion-col>
  </ion-row>

  <ion-grid>
    <ion-row>
      <ion-col col-12 text-center>       
        <span class="p1">Help us to know you better</span>
      </ion-col>     
    </ion-row>
  </ion-grid>

  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
<ion-row>
  
  <ion-col col-6>

    <ion-item>
      <ion-label floating>First Name</ion-label>
      <ion-input type="text" class="input" formControlName="firstname"></ion-input>
    </ion-item>
    <span class="error" *ngIf="isSubmitted && errorControl.firstname.errors?.required">
      First Name is required.
    </span>
    

  </ion-col>
  <ion-col col-6>

    <ion-item>
      <ion-label floating>Last Name</ion-label>
      <ion-input type="text" class="input" formControlName="lastname"></ion-input>
    </ion-item>
    <span class="error" *ngIf="isSubmitted && errorControl.lastname.errors?.required">
      Last Name is required.
    </span>

  </ion-col>



  <ion-col col-12>

    <!-- <ion-item>
      <ion-label floating>User Name</ion-label>
      <ion-input type="text" class="input" formControlName="username"></ion-input>
    </ion-item>
    <span class="error" *ngIf="isSubmitted && errorControl.username.errors?.required">
      Username is required.
    </span>     -->

    <ion-item>
      <ion-label floating>Email Address</ion-label>
      <ion-input type="email" class="input" formControlName="email"></ion-input>
    </ion-item>
    <span class="error" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
        Please enter valid email id
    </span>
    

    <!-- <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" class="input" formControlName="password"></ion-input>
    </ion-item>
    <span class="error" *ngIf="isSubmitted && errorControl.password.errors?.required">
      Password is required.
    </span>
    <span class="error" *ngIf="isSubmitted && errorControl.password.errors?.minlength">
      Password should be minimum 6 character.
    </span>

    <ion-item>
      <ion-label floating>Confirm Password</ion-label>
      <ion-input type="password" class="input" formControlName="con_password"></ion-input>
    </ion-item>
    <span class="error" *ngIf="isSubmitted && ionicForm.value.password !== ionicForm.value.con_password">
      Password did not match.
       </span> -->

  </ion-col>
 

</ion-row>

 

  <div class="otpBtnDiv">
    <button ion-button color="danger" block type="submit">Start Shopping</button>
  </div>
</form>
</ion-content>
