ion-buttons button[icon-only].my-style-for-modal {
    margin: 0 6px;
    min-width: 36px;
 }
 ion-icon{
     color: black !important;
 }
 
 .colIcon{
     display: flex;
     align-items: center;
 }
 
 .rowOtp{
    background: #50b36a;
 }

 .colIcon ion-icon{
     color: white  !important;
 }




/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 2220px) {
    .p1{
        font-size: 33px !important;
        text-align: center;
    }
    .p2{
        font-size: 35px !important;
    }
    .colIcon ion-icon{
        font-size: 70px;
       }
       .p3{
           font-weight: bold;
           font-size: 36px;
       }
       .p4{
        font-size: 36px;
     }
     .change{
        border: 1px solid gray;
        border-radius: 15px;
        padding: 0px 20px 0px 20px;
        margin-left: 30px;
        font-size: 25px;
     }
     .otpRow{
        margin-top: 40px;
    }
    .otpBtnDiv{
        padding: 0px 33px 0px 33px !important;
        margin-top: 45px !important;
    }
}
@media screen and (max-width: 992px) {
    .otpBtnDiv{
        padding: 0px 23px 0px 23px !important;
        margin-top: 35px !important;
    }
    .otpRow{
        margin-top: 30px;
    }
    .change{
        border: 1px solid gray;
        border-radius: 10px;
        padding: 0px 10px 0px 10px;
        margin-left: 20px;
        font-size: 20px;
     }
    .p4{
        font-size: 26px;
     }
    .colIcon ion-icon{
        font-size: 55px;
       }
       .p3{
           font-weight: bold;
           font-size: 26px;
       }
    .p1{
        font-size: 22px !important;
        text-align: center;
    }
    .p2{
        font-size: 25px !important;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    .otpBtnDiv{
        padding: 0px 13px 0px 13px !important;
        margin-top: 25px !important;
    }
    .otpRow{
        margin-top: 20px;
    }
    .change{
        border: 1px solid gray;
        border-radius: 5px;
        padding: 0px 5px 0px 5px;
        margin-left: 10px;
        font-size: 14px;
     }
    .p4{
        font-size: 16px;
     }
    .colIcon ion-icon{
        font-size: 23px;
       }
       .p3{
           font-weight: bold;
           font-size: 16px;
       }
    .p1{
        font-size: 12px !important;
        text-align: center;
    }
    .p2{
        font-size: 15px !important;
    }
  }