<ion-header class="headerCart">

  <!-- <ion-navbar>
    <ion-title> {{ product.title }} </ion-title>
  </ion-navbar> -->

  <ion-navbar>       
    <ion-buttons end>
      <button class="navBtn">
        <span class="qtySpan" *ngIf="cartLength">{{cartLength}}</span>
        <ion-icon name="search" (click)="searchPage()"></ion-icon>        
        <ion-icon name="share" (click)="share()"></ion-icon>
        <ion-icon name="ios-basket-outline" (click)="openCart()"></ion-icon>
       
      </button>
  </ion-buttons>
  </ion-navbar>

</ion-header>


<!-- <ion-content>

  <ion-fab right top edge (click)="openCart()">
    <button ion-fab class="fabBtn" color="danger"><ion-icon name="cart"></ion-icon></button>
  </ion-fab>

  <ion-card>
    <ion-slides autoplay="3000" loop="true">
      <ion-slide *ngFor="let image of product.images" style="padding: 30px;">
        <img [src]="image.src" style="width: 100%;" />
      </ion-slide>
    </ion-slides>

    <ion-card-content>
      <ion-card-title class="cardTitle">
        {{ product.title }} &nbsp;
        <ion-chip *ngFor="let cat of product.categories" >
          <ion-label color="danger" class="detailsLbl"> {{ cat }} </ion-label>
        </ion-chip>
      </ion-card-title>

      <div [innerHTML]="product.description"></div>
      
    </ion-card-content>


  </ion-card>

  <ion-card *ngIf="product.variations.length > 0">
    <ion-item-divider color="light" class="dividerOption">Product options</ion-item-divider>
    <ng-container *ngFor="let attribute of product.attributes">
      <ion-item *ngIf="attribute.variation" class="dvdrItem">
        <ion-label class="dividerLbl"> {{ attribute.name | titlecase }}</ion-label>
        <ion-select interface="popover" [(ngModel)]="selectedOptions[attribute.name]" (ionChange)="check(attribute.name)">
          <ion-option *ngFor="let option of attribute.options" [value]="option">{{ option }}</ion-option>
        </ion-select>
      </ion-item>
    </ng-container>
  </ion-card>

  <ion-card *ngIf="product.attributes.length > 0">
    <ion-card-content>
      <ion-card-title class="spcTitle">
        Specifications
      </ion-card-title>

      <ion-grid>
        <ion-row *ngFor="let att of product.attributes" class="spcRow">
          <ion-col col-4>
            {{ att.name}}
          </ion-col>
          <ion-col col-8>
            <span *ngFor="let option of att.options"> {{ option }}</span>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="reviews.length > 0">
    <ion-card-content>
      <ion-card-title>
        Reviews
      </ion-card-title>

      <ion-grid>
        <ion-row *ngFor="let review of reviews">
          <ion-col col-4>
            <b>{{ review.reviewer_name }}</b><br/>
            <span *ngIf="review.rating >= 1">
            <ion-icon style="color: #d4af37" small name="star"></ion-icon>
          </span>
            <span *ngIf="review.rating >= 2">
            <ion-icon style="color: #d4af37" small name="star"></ion-icon>
          </span>
            <span *ngIf="review.rating >= 3">
            <ion-icon style="color: #d4af37" small name="star"></ion-icon>
          </span>
            <span *ngIf="review.rating >= 4">
            <ion-icon style="color: #d4af37" small name="star"></ion-icon>
          </span>
            <span *ngIf="review.rating >= 5">
            <ion-icon style="color: #d4af37" small name="star"></ion-icon>
          </span>

          </ion-col>
          <ion-col col-8>
            {{ review.review }}
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content> -->

<!-- <ion-footer>
  <ion-toolbar>  
      <button ion-button icon-left block  color="success" (click)="addToCart(product)" class="btnSelect">
      <ion-icon name="basket"></ion-icon> {{ requireOptions ? 'Select Product Options' : 'Add to Cart for ' + '$' + ' ' + productPrice}}
    </button>
  </ion-toolbar>
</ion-footer> -->

<!--create new content item-->
<ion-content>
<div padding>
  <ion-chip *ngFor="let cat of product.categories" >
    <span class="spanAmul">{{ cat }}</span>    
  </ion-chip>

<p class="ptitle">{{ product.title }}</p>

<span *ngIf="!sellPrice">
<span class="spanPrice" *ngIf="!productPrice">Rs: {{ product.price }}</span><br>
<span class="spanPrice" *ngIf="productPrice">Rs: {{ productPrice }}</span><br>
</span>
<!-- <span class="spanPrice" *ngIf="product.sale_price == null">Rs: {{ product.price }}</span><br> -->

<span *ngIf="sellPrice">
<span class="spanPrice">Rs: {{ sellPrice }}</span>&nbsp;&nbsp;&nbsp;<span class="spanMrp">MRP: <span>Rs {{ regularPrice }}</span></span><br>
</span>

<span *ngIf="product.sale_price != null">
<span class="spanPrice">Rs: {{ product.sale_price }}</span>&nbsp;&nbsp;&nbsp;<span class="spanMrp">MRP: <span>Rs {{ product.regular_price }}</span></span>
 <!-- <span class="offSpan">11% OFF</span> -->
 <br>
</span>

<span class="spanTax">(Inclusive of all taxes)</span>

<!--slides-->

    <div class="imageDiv">
    <img [src]="imgSrc"  />

      <span class="spanGreen">
    <ion-icon name="ios-radio-button-on-outline"></ion-icon>
     </span>

     <!-- <span class="spanRed">
      <ion-icon name="ios-radio-button-on-outline"></ion-icon>
       </span> -->

  </div>
 
    <ion-segment [(ngModel)]="segment" class="segImg"> 
      
      <ion-segment-button value={{image.src}} class="imgSegment" style="height: auto;" *ngFor="let image of product.images">
        <img [src]="image.src" (click)="imageShow(image.src)" />
      </ion-segment-button>        
                  
    </ion-segment>
<!--end Slider-->
</div>

<!--selection div-->
<div class="divPack">Pack Sizes</div>

<div style="padding: 0px 16px 0px 16px;" *ngIf="product.attributes.length > 0">

 

  <ng-container *ngFor="let attribute of product.attributes">
<ion-list radio-group class="selectList" [(ngModel)]="selectedOptions[attribute.name]"> 
    <span *ngIf="attribute.variation">
  <ion-item *ngFor="let option of attribute.options">
    <ion-label>{{ attribute.name | titlecase }}</ion-label>
    <ion-label>{{ option }}</ion-label>
    <ion-radio [value]="option"  (ionSelect)="check(attribute.name)"  color="secondary"></ion-radio>
  </ion-item>
</span>
</ion-list>
</ng-container> 

<!-- <ion-list radio-group class="selectList"> 
  <span>
<ion-item>
  <ion-label>Weight</ion-label>
  <ion-label>20 kg</ion-label>
  <ion-radio value="option"   color="secondary"></ion-radio>
</ion-item>
</span>
<span>
  <ion-item>
    <ion-label>Weight</ion-label>
    <ion-label>10 kg</ion-label>
    <ion-radio value="option"   color="secondary"></ion-radio>
  </ion-item>
  </span>
  <span>
    <ion-item>
      <ion-label>Weight</ion-label>
      <ion-label>30 kg</ion-label>
      <ion-radio value="option"   color="secondary"></ion-radio>
    </ion-item>
    </span>
</ion-list> -->


</div>
<!--end selection-->

<div class="deliverDiv"><ion-icon name="car"></ion-icon>Delivers in 1 day</div>
<!--about product-->
<div class="aboutDiv">
  <p class="ptitle" style="border-bottom: 1px solid #d0cbcb;
  padding-bottom: 6px !important;">About this product</p>
  <span [innerHTML]="product.description"></span>
</div>

<!--similar Product-->
      <div padding *ngIf="similarProductList">
        <p class="ptitle" style="border-top: 1px solid #d0cbcb;
        padding: 10px 0px 0px 0px !important;">Similar Product</p>

<div no-border class="scrollable-segments1">
<ion-segment  value="heart" class="simSegment"> 
      
  <ion-segment-button value="home1" style="height: auto;" *ngFor="let prdct of similarProductList">
    <ion-card class="cardSim">
         <ion-card (click)="openProductPage(prdct)">
            <img src="{{prdct.images[0].src}}"  />
        </ion-card>
        <div class="b">{{prdct.title}}</div>
          <!-- <div class="divGram">1 kg</div>  -->

          <span *ngIf="prdct.variations.length > 0">
            <ng-container *ngFor="let attribute of prdct.attributes">
              <div *ngIf="attribute.variation">    
  
                <ion-select class="select12" placeholder="Select option" [(ngModel)]="selectedOptions[attribute.name]" (ionChange)="check1(attribute.name, prdct, prdct.id)">
                  <!-- <ion-option selected="true"> 200 g- Pouch- Rs 118</ion-option> -->
                  <ion-option *ngFor="let option of attribute.options" [value]="option">{{ option }}</ion-option>
                 
                </ion-select>
                
              </div>
            </ng-container>
      </span>

        <!-- <div class="addSpanDiv">
        <span class="spanPrice" style="color: black !important;">&#8377;333</span>&nbsp;&nbsp;&nbsp;<span class="spanMrp">&#8377;<span>75</span></span>
      </div> -->

      <div class="addSpanDiv">
        <span class="spanPrice" style="color: black !important;">&#8377;{{prdct.price}}</span>
      </div>
        <button ion-button block color="danger" class="simBtn" (click)="addToCart1(prdct, prdct.id)">Add</button>
     

   </ion-card>
  </ion-segment-button>


              
</ion-segment>
</div>

      </div>
<!--end similar Product-->


</ion-content>

<ion-footer *ngIf="footerDiv">
  <ion-toolbar>  
      <ion-row class="footerRow">
        <ion-col class="footerCol1" (click)="WishList(product)">
          <ion-icon name="ios-bookmark-outline"></ion-icon>
          SAVE FOR LATER
        </ion-col>
        <!-- <ion-col class="footerColSaved">
          <ion-icon name="ios-bookmark-outline"></ion-icon>
          SAVED
        </ion-col> -->
        <ion-col class="footerCol2" color="success" (click)="addToCart(product)">
          <ion-icon name="ios-basket-outline"></ion-icon>
          {{ requireOptions ? 'Select Product Options' : 'Add to Cart for ' + '$' + ' ' + productPrice}}
        </ion-col>
      </ion-row>
  </ion-toolbar>
</ion-footer>