ion-chip{
    margin: 0px 10px 0px 0px !important;
}
// .fabBtn{
//     background-color: #50b36a;
// }
.select12{
    max-width: 100%;
    border: 1px solid #efe8e8;
    display: flex;
    align-items: center;
    height: 28px;
    border-radius: 4px;
}
.select12 .item-cover{
    height: 20px !important;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 2220px) {
    .cardTitle{
        font-size: 55px;
    }
    .detailsLbl{
        font-size: 30px;
    }
    .dividerOption{
        font-size: 35px;
    }
    .dividerLbl{
        font-size: 35px;
    }
    .dvdrItem{
        font-size: 35px !important;
    }
    .spcTitle{
        font-size: 40px;
    }
    .spcRow ion-col{
        font-size: 30px;
    }
    .btnSelect{
        background-color: #50b36a;
        font-size: 30px;
        height: 75px;
    }
}
@media screen and (max-width: 992px) {
    .btnSelect{
        background-color: #50b36a;
        font-size: 25px;
        height: 60px;
    }
    .spcRow ion-col{
        font-size: 22px;
    }
    .spcTitle{
        font-size: 30px;
    }
    .dvdrItem{
        font-size: 25px !important;
    }
    .dividerLbl{
        font-size: 25px;
    }
    .dividerOption{
        font-size: 25px;
    }
    .cardTitle{
        font-size: 45px;
    }
    .detailsLbl{
        font-size: 25px;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    .btnSelect{
        background-color: #50b36a;
        font-size: 14px;
        height: 40px;
    }
      .spcRow ion-col{
          font-size: 14px;
      }
      .spcTitle{
          font-size: 16px;
      }
      .dvdrItem{
          font-size: 16px !important;
      }
      .dividerLbl{
          font-size: 16px;
      }
    .cardTitle{
        font-size: 25px;
    }
    .detailsLbl{
        font-size: 13px;
    }
    .dividerOption{
        font-size: 16px;
    }
  }


  // create new css

.navBtn{
    background: #50b36a;
}

.imageDiv{
    padding: 5px;
}
.imageDiv img{
    margin-top: 0px;
}
.imgSegment img{
    margin-top: 0px !important;
    width: 100% !important;
}
.segImg{
    -webkit-justify-content: start !important;
}

.selectList{
    padding: 0px;
}
.selectList ion-item{
    padding: 0px; 
    border: 1px solid #d6d2d2;
    margin-top: 10px;
    padding-left: 5px;
    border-radius: 5px;
}
.spanMrp span{
    text-decoration-line: line-through;
}
.item-radio-md-secondary.item-radio-checked ion-label {
    color: #50b36a;
}
.footerRow{
    width: 100%;
}
.simSegment ion-segment-button{
    max-width: 40%;
}
.cardSim{
    padding: 10px;
}
.simSegment{
    -webkit-justify-content: start !important;
}
.simSegment ion-segment-button{
    opacity: 1.0 !important;
}
.scrollable-segments1 {
    ion-segment {
      display: block;
      overflow-x: scroll;
      white-space: nowrap;
    
      ion-segment-button.segment-button {
        display: inline-block;
        width: auto;
        margin-right: 5px;
        line-height: 4rem;
      }
     }
    }





   /* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 2220px) {
    .navBtn ion-icon{
        color: white !important;
        font-size: 60px !important;
    }
    .qtySpan{
        background: #ef5656;
        border-radius: 15%;
        padding: inherit;
        position: relative;
        bottom: 26px;
        left: 283px;
        font-size: 35px;
    }
    .spanAmul{
        padding: 0px 15px 0px 15px;
        border: 1px solid #50b36a;
        font-size: 30px;
        border-radius: 4px;
        background: #d5e6d5;
    }
     .ptitle{
        font-size: 35px !important;
        padding-bottom: 0px !important;
        padding: 0px 0px 0px 0px !important;
        margin-bottom: 10px !important;
    }
    .spanPrice{
        font-size: 30px;
        font-weight: bold;
    }
    .spanTax{
        font-size: 25px;
        color: gray;
    }
    .imgSegment{
        border: 1px solid #c7c3c3;   
        max-width: 150px;
        border-radius: 3px;
        padding: 7px;
        margin-right: 10px;
    }
    .spanGreen{
        border: 1px solid green;
        position: relative;
        bottom: 103px;
        left: 90px;
        padding: 20px 0px 11px 0px;
    }
    .spanGreen ion-icon{
        font-size: 30px;
        color: green !important;
    }
    .spanRed{
        border: 1px solid red;
        position: relative;
        bottom: 103px;
        left: 90px;
        padding: 20px 0px 11px 0px;
    }
    .spanRed ion-icon{
        font-size: 30px;
        color: red !important;
    }
    .spanMrp{
        font-size: 28px;
        color: gray;
    }
    .offSpan{
        background: #fd5858;
        font-size: 28px;
        padding: 2px 10px 2px 10px;
        margin-left: 20px;
        border-top-left-radius: 7px;
        border-bottom-right-radius: 7px;
        color: white;
    }
    .divPack{
        font-size: 36px;
        margin-top: 0px;
        padding-left: 16px;
        border-top: 1px solid #e2dede;
    padding-top: 5px;
    font-weight: bold;
    color: #4e4a4a;
    }
    .deliverDiv ion-icon{
        font-size: 40px;  
        color: gray !important;
    }
    .deliverDiv{
        background: #f5efef;
        align-items: center;
        display: flex;
        padding-left: 16px;
        font-size: 25px;
    }
    .aboutDiv{
        padding: 0px 16px 0px 16px;
        font-size: 25px;
    }
    .footerCol2{
        font-size: 30px;
        background: #ef5656;
        color: white;
        display: flex;
        align-items: center;
        padding: 17px 0px 17px 0px;
        justify-content: center;
    }
    .footerCol1 ion-icon{
        margin: -2px 13px 0px 0px !important;
        color: white !important;
        font-size: 45px;
    }
    
    .footerCol2 ion-icon{
        margin: -2px 13px 0px 0px !important;
        color: white !important;
        font-size: 45px;
    }
    .footerCol1{
        font-size: 30px;
        background: #3c3838;
        color: white;
        display: flex;
        align-items: center;
        padding: 17px 0px 17px 0px;
        justify-content: center;
    }
    .footerColSaved{
        font-size: 30px;
        background: #bdb7b7;
        color: black;
        display: flex;
        align-items: center;
        padding: 17px 0px 17px 0px;
        justify-content: center;
    }
    .footerColSaved ion-icon{
        margin: -2px 13px 0px 0px !important;
        color: black !important;
        font-size: 45px;
    }
    div.b {
        white-space: nowrap;
        width: 100%;
        overflow: visible;
        text-overflow: ellipsis;   
        font-size: 35px;   
        color: black;
        font-weight: bold;
        margin: 40px 0px 40px 0px;
      }
      .addSpanDiv{
        margin: 35px 0px 35px 0px;
    }
    .simBtn{
        font-size: 25px;
    }
    .cardSim img{
        margin-top: 0px;
        height: 400px;
    }
}
  /* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    .cardSim img{
        margin-top: 0px;
        height: 250px;
    }
    .simBtn{
        font-size: 20px;
    }
    .addSpanDiv{
        margin: 25px 0px 25px 0px;
    }
    div.b {
        white-space: nowrap;
        width: 100%;
        overflow: visible;
        text-overflow: ellipsis;   
        font-size: 25px;   
        color: black;
        font-weight: bold;
        margin: 30px 0px 30px 0px;
      }
    .footerColSaved{
        font-size: 22px;
        background: #bdb7b7;
        color: black;
        display: flex;
        align-items: center;
        padding: 17px 0px 17px 0px;
        justify-content: center;
    }
    .footerColSaved ion-icon{
        margin: -2px 13px 0px 0px !important;
        color: black !important;
        font-size: 35px;
    }
    .footerCol1{
        font-size: 22px;
        background: #3c3838;
        color: white;
        display: flex;
        align-items: center;
        padding: 17px 0px 17px 0px;
        justify-content: center;
    }
    .footerCol1 ion-icon{
        margin: -2px 13px 0px 0px !important;
        color: white !important;
        font-size: 35px;
    }
    
    .footerCol2 ion-icon{
        margin: -2px 13px 0px 0px !important;
        color: white !important;
        font-size: 35px;
    }
    .footerCol2{
        font-size: 22px;
        background: #ef5656;
        color: white;
        display: flex;
        align-items: center;
        padding: 17px 0px 17px 0px;
        justify-content: center;
    }
    .aboutDiv{
        padding: 0px 16px 0px 16px;
        font-size: 20px;
    }
    .deliverDiv{
        background: #f5efef;
        align-items: center;
        display: flex;
        padding-left: 16px;
        font-size: 20px;
    }
    .deliverDiv ion-icon{
        font-size: 30px;  
        color: gray !important;
    }
    .divPack{
        font-size: 28px;
        margin-top: 0px;
        padding-left: 16px;
        border-top: 1px solid #e2dede;
    padding-top: 5px;
    font-weight: bold;
    color: #4e4a4a;
    }
    .offSpan{
        background: #fd5858;
        font-size: 18px;
        padding: 2px 10px 2px 10px;
        margin-left: 20px;
        border-top-left-radius: 7px;
        border-bottom-right-radius: 7px;
        color: white;
    }
    .spanMrp{
        font-size: 18px;
        color: gray;
    }
    .spanRed{
        border: 1px solid red;
        position: relative;
        bottom: 70px;
        left: 70px;
        padding: 7px 0px 3px 0px;
    }
    .spanRed ion-icon{
        font-size: 20px;
        color: red !important;
    }
    .spanGreen{
        border: 1px solid green;
        position: relative;
        bottom: 70px;
        left: 70px;
        padding: 7px 0px 3px 0px;
    }
    .spanGreen ion-icon{
        font-size: 20px;
        color: green !important;
    }
    .imgSegment{
        border: 1px solid #c7c3c3;   
        max-width: 100px;
        border-radius: 3px;
        padding: 7px;
        margin-right: 10px;
    }
    .spanTax{
        font-size: 20px;
        color: gray;
    }
    .spanPrice{
        font-size: 20px;
        font-weight: bold;
    }
    .ptitle{
        font-size: 28px !important;
        padding-bottom: 0px !important;
        padding: 0px 0px 0px 0px !important;
        margin-bottom: 8px !important;
    }
    .spanAmul{
        padding: 0px 10px 0px 10px;
        border: 1px solid #50b36a;
        font-size: 22px;
        border-radius: 4px;
        background: #d5e6d5;
    }
    .qtySpan{
        background: #ef5656;
        border-radius: 15%;
        padding: inherit;
        position: relative;
        bottom: 26px;
        left: 182px;
        font-size: 30px;
    }
    .navBtn ion-icon{
        color: white !important;
        font-size: 50px !important;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    .cardSim img{
        margin-top: 0px;
        height: 106px;
    }
      .simBtn{
          font-size: 14px;
      }
    .addSpanDiv{
        margin: 0px 0px 0px 0px;
    }
    div.b {
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;   
        font-size: 14px;   
        color: black;
        font-weight: bold;
        margin: 0px 0px 0px 0px;
      }
    .footerColSaved{
        font-size: 14px;
        background: #bdb7b7;
        color: black;
        display: flex;
        align-items: center;
        padding: 17px 0px 17px 0px;
        justify-content: center;
    }
    .footerColSaved ion-icon{
        margin: -2px 7px 0px 0px !important;
        color: black !important;
        font-size: 20px;
    }
    .footerCol1{
        font-size: 14px;
        background: #3c3838;
        color: white;
        display: flex;
        align-items: center;
        padding: 17px 0px 17px 0px;
        justify-content: center;
    }
    .footerCol1 ion-icon{
        margin: -2px 7px 0px 0px !important;
        color: white !important;
        font-size: 20px;
    }
    
    .footerCol2 ion-icon{
        margin: -2px 7px 0px 0px !important;
        color: white !important;
        font-size: 20px;
    }
    .footerCol2{
        font-size: 14px;
        background: #ef5656;
        color: white;
        display: flex;
        align-items: center;
        padding: 17px 0px 17px 0px;
        justify-content: center;
    }
    .aboutDiv{
        padding: 0px 16px 0px 16px;
        font-size: 12px;
    }
    .deliverDiv{
        background: #f5efef;
        align-items: center;
        display: flex;
        padding-left: 16px;
        font-size: 12px;
    }
    .deliverDiv ion-icon{
        font-size: 18px;  
        color: gray !important;
    }
    .divPack{
        font-size: 16px;
        margin-top: 0px;
        padding-left: 16px;
        border-top: 1px solid #e2dede;
    padding-top: 5px;
    font-weight: bold;
    color: #4e4a4a;
    }
    .offSpan{
        background: #fd5858;
        font-size: 12px;
        padding: 2px 4px 2px 4px;
        margin-left: 4px;
        border-top-left-radius: 7px;
        border-bottom-right-radius: 7px;
        color: white;
    }
    .spanMrp{
        font-size: 12px;
        color: gray;
    }
    .spanRed{
        border: 1px solid red;  
        position: relative;   
        bottom: 20px;  
        left: 20px;
        padding: 0px 0px 0px 0px;
    }
    .spanRed ion-icon{
        font-size: 10px;
        color: red !important;
    }
    .spanGreen{
        border: 1px solid green;  
        position: relative;   
        bottom: 20px;  
        left: 20px;
        padding: 0px 0px 0px 0px;
    }
    .spanGreen ion-icon{
        font-size: 10px;
        color: green !important;
    }
    .imgSegment{
        border: 1px solid #c7c3c3;   
        max-width: 52px;
        border-radius: 3px;
        padding: 7px;
        margin-right: 10px;
    }
    .spanTax{
        font-size: 9px;
        color: gray;
    }
    .spanPrice{
        font-size: 14px;
        font-weight: bold;
    }
    .ptitle{
        font-size: 16px !important;
        padding-bottom: 0px !important;
        padding: 0px 0px 0px 0px !important;
        margin-bottom: 5px !important;
    }
    .spanAmul{
        padding: 0px 5px 0px 5px;
        border: 1px solid #50b36a;
        font-size: 14px;
        border-radius: 4px;
        background: #d5e6d5;
    }
    .qtySpan{
        background: #ef5656;
        border-radius: 50%;
        padding: inherit;
        position: relative;
        bottom: 16px;
        left: 115px;
        font-size: 14px;
    }
    .navBtn ion-icon{
        color: white !important;
        font-size: 30px !important;
    }
  }