<!--
  Generated template for the MyAccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="headerCart">

  <ion-navbar  color="danger">  
       <ion-icon name="arrow-back" (click)="close()" class="subIcon" style="color: white !important;"></ion-icon>
 
 <ion-title>Urban Mart</ion-title>

</ion-navbar>

</ion-header>

<ion-content>
      <div class="myaccount">MY ACCOUNT</div>

      <ion-row class="rowColor" *ngIf="userData">
          <ion-col col-3 class="profileCol">
              <img src="./assets/icon/user.png">
          </ion-col>
          <ion-col col-8 >
              <span>{{userData.firstname}} {{userData.lastname}}</span><br>
              <span>{{userData.user_email}}</span><br>
              <span>{{userData.mobile}}</span>
          </ion-col>
          <ion-col col-1>
            <ion-icon name="create" style="color: white !important;" (click)="updateProfile()"></ion-icon>
          </ion-col>      
          
          <!-- <span *ngIf="Default_Address"> -->
          <ion-col col-2 class="pinCol" *ngIf="Default_Address">
            <ion-icon name="pin"></ion-icon>
          </ion-col>
          <ion-col col-7 class="nameCol" *ngIf="Default_Address">              
               <span>{{Default_Address.houseno}}-{{Default_Address.apartmentname}}</span><br>
               <span>{{Default_Address.city}}-{{Default_Address.pincode}}</span>
          </ion-col>
        <ion-col col-3 class="spCol" *ngIf="Default_Address">
            <span (click)="changeAddress()">Change</span>
        </ion-col>
      <!-- </span> -->

      </ion-row>     

      <!--list-->
      <ion-row class="catRow">       
        <ion-col col-12 (click)="MyOrder()">
           <ion-icon name="time" style="font-weight: 500 !important;"></ion-icon>
            <span class="carSpan" style="font-weight: 500 !important;">My Order</span>              
        </ion-col>        
    </ion-row>
    <ion-row class="catRow">       
      <ion-col col-12 (click)="myAddress()">
         <ion-icon name="pin" style="font-weight: 500 !important;"></ion-icon>
          <span class="carSpan" style="font-weight: 500 !important;">My Deliver Address</span>              
      </ion-col>        
  </ion-row>
  <ion-row class="catRow">       
    <ion-col col-12>
       <ion-icon name="exit" style="font-weight: 500 !important;"></ion-icon>
        <span class="carSpan" style="font-weight: 500 !important;" (click)="logout()">Logout</span>              
    </ion-col>        
</ion-row>

</ion-content>

<ion-footer>
  <ion-row class="footerRow">

    <ion-col text-center (click)="homeTab()">
      <ion-icon name="ios-home-outline"></ion-icon><br>
      <span>Home</span>        
    </ion-col>

    <ion-col text-center (click)="CategoryTab()">
      <ion-icon name="ios-apps-outline"></ion-icon><br>
      <span>Categories</span>        
    </ion-col>

    <ion-col text-center (click)="searchTab()">
      <ion-icon name="search"></ion-icon><br>
      <span>Search</span>        
    </ion-col>

    <ion-col text-center (click)="myListTab()">
      <ion-icon name="ios-document-outline"></ion-icon><br>
      <span>My List</span>        
    </ion-col>

    <ion-col text-center (click)="CartTab()">
      <span class="cartSpan"*ngIf="cartLength">{{cartLength}}</span>
      <ion-icon name="ios-cart-outline"></ion-icon><br>
      <span>Cart</span>        
    </ion-col>

  </ion-row>
</ion-footer>