

.profileCol{
    display: flex;
    align-items: center;
    justify-content: center;
}



.pinCol{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-top: 10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.nameCol span{
    color: black !important;
    font-size: 14px;
}
.nameCol{
    background-color: white;
    margin-top: 10px;
}
.spCol{
    margin-top: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* On screens that are 2220px or less, set the background color to blue */
@media screen and (max-width: 2220px) {
    .myaccount{
        font-size: 32px;
        justify-content: center;
        display: flex;  
        padding: 20px;
        font-weight: bold;
    }
    .profileCol img{
        margin-top: 0px; 
        border-radius: 50%;
        padding: 0px;
        width: 130px !important;
    }
    .rowColor ion-col span{
        color: white;
        font-size: 35px;
    }
    .rowColor ion-col ion-icon{
        margin: 0px !important;
        color: #e7677e !important;
        font-size: 75px;
    }
    .spCol span{
        border: 1px solid #df6077;
        border-radius: 3px;
        padding: 5px 13px 5px 13px;
        color: black !important;
        font-size: 25px !important;
    }
    .rowColor{
        background-image: linear-gradient(to right, #bf465b, #f16f86);
        padding: 10px 16px 35px 16px;
    }
}
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    .rowColor{
        background-image: linear-gradient(to right, #bf465b, #f16f86);
        padding: 10px 16px 25px 16px;
    }
    .spCol span{
        border: 1px solid #df6077;
        border-radius: 3px;
        padding: 3px 10px 3px 10px;
        color: black !important;
        font-size: 20px !important;
    }
    .rowColor ion-col ion-icon{
        margin: 0px !important;
        color: #e7677e !important;
        font-size: 50px;
    }
    .rowColor ion-col span{
        color: white;
        font-size: 25px;
    }
    .profileCol img{
        margin-top: 0px; 
        border-radius: 50%;
        padding: 0px;
        width: 90px !important;
    }
    .myaccount{
        font-size: 25px;
        justify-content: center;
        display: flex;  
        padding: 15px;
        font-weight: bold;
    }
  }  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    .rowColor{
        background-image: linear-gradient(to right, #bf465b, #f16f86);
        padding: 10px 16px 10px 16px;
    }
    .spCol span{
        border: 1px solid #df6077;
        border-radius: 3px;
        padding: 1px 5px 1px 5px;
        color: black !important;
        font-size: 12px !important;
    }
    .rowColor ion-col ion-icon{
        margin: 0px !important;
        color: #e7677e !important;
        font-size: 25px;
    }
    .rowColor ion-col span{
        color: white;
        font-size: 14px;
    }
    .profileCol img{
        margin-top: 0px; 
        border-radius: 50%;
        padding: 0px;
        width: 50px !important;
    }
    .myaccount{
        font-size: 15px;
        justify-content: center;
        display: flex;  
        padding: 10px;
        font-weight: bold;
    }
  }