<!--
  Generated template for the UpdateProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="headerCart">

  <ion-navbar  color="danger">  
       <ion-icon name="arrow-back" (click)="back()" class="subIcon" style="color: white !important;"></ion-icon>
 
 <ion-title>Update Profile</ion-title>

</ion-navbar>

</ion-header>

<ion-content padding>
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
  <ion-row *ngIf="userData"> 
    
    <ion-col col-6>
      <ion-input placeholder="Enter First Name" formControlName="firstname"  value="{{userData.firstname}}"></ion-input>
    </ion-col>
    <ion-col col-6>
      <ion-input placeholder="Enter Last Name" formControlName="lastname"  value="{{userData.lastname}}"></ion-input>
    </ion-col>
    <!-- <ion-col col-12>
      <ion-input placeholder="Mobile Number"  value="{{userData.mobile}}"></ion-input>
    </ion-col> -->
    <ion-col col-12>
      <ion-item class="itemDate">
        <ion-label *ngIf="userData.dob == null">Date of Birth (MM/DD/YYYY)</ion-label>
        <ion-label *ngIf="userData.dob != null">{{userData.dob}}</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="myDate" [ngModelOptions]="{standalone: true}"  (ionChange)="showdate()"></ion-datetime>
      </ion-item>
    </ion-col>   
   
        
    <!--check-box-set-this-as-my-->
    <!-- <ion-col col-12>
      <ion-item class="checkItem">
        <ion-label>Send me email on promotions, offer and service</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
    </ion-col> -->
    <!-- <button ion-button block class="btnAdress" type="submit">Update</button> -->
 
</ion-row>

<ion-footer>
  <ion-toolbar>
      <button ion-button block class="btnAdress" type="submit">Update</button>
  </ion-toolbar>
</ion-footer>
</form>
</ion-content>


