.itemDate{
    padding-left: 0px;
}


/* On screens that are 2220px or less, set the background color to blue */
@media screen and (max-width: 2220px) {
    .itemDate ion-label{
        font-size: 28px;
    }
}
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    .itemDate ion-label{
        font-size: 20px;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    .itemDate ion-label{
        font-size: 14px;
    }
  }
