


@media screen and (max-width: 2220px) {
    .myCol{
        font-weight: bold;
        font-size: 35px;
        color: #3c9052;
       // border-bottom: 1px solid #c3bdbd;
      //  margin-bottom: 30px;
    }
    .myorderCard{
        margin-top: 30px !important;
    }
    .colHeading{
        font-weight: bold;
        color: gray;
        font-size: 32px !important;
    }
    .myorderCard ion-col{
        font-size: 32px;
    }
    .eyeImage{
        width: 100px !important;
        height: 100px !important;
        margin-top: 0px !important;  
        position: relative;
        left: 54%;
       // bottom: 82px;
       top: 54px;
    }
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    .eyeImage{
        width: 70px !important;
        height: 70px !important;
        margin-top: 0px !important;  
        position: relative;
        left: 50%;
       // bottom: 66px;
       top: 40px;
    }
    .myCol{
        font-weight: bold;
        font-size: 26px;
        color: #3c9052;
      //  border-bottom: 1px solid #c3bdbd;
      //  margin-bottom: 30px;
    }
    .myorderCard{
        margin-top: 30px !important;
    }
    .colHeading{
        font-weight: bold;
        color: gray;
        font-size: 22px !important;
    }
    .myorderCard ion-col{
        font-size: 22px;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    .eyeImage{
        width: 40px !important;
        height: 40px !important;
        margin-top: 0px !important;  
        position: relative;
        left: 40%;
      //  bottom: 36px;
        top: 25px;
    }
    .myCol{
        font-weight: bold;
        font-size: 16px;
        color: #3c9052;
     //   border-bottom: 1px solid #c3bdbd;
      //  margin-bottom: 15px;
    }
    .myorderCard{
        margin-top: 16px !important;
    }
    .colHeading{
        font-weight: bold;
        color: gray;
        font-size: 14px !important;
    }
    .myorderCard ion-col{
        font-size: 14px;
    }
  }