<!--
  Generated template for the MyOrderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="headerCart">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" style="color: white !important;"></ion-icon>
    </button>
    <ion-title>My Order</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-row *ngIf="emptyDiv">
    <ion-col col-12 class="empty" style="padding: 20px 80px 0px 80px;">
      <!-- <img src="./assets/icon/address.png">         -->
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuH-uHbmPcHKaR5rVF8kotXRHSxVdCOFYpOQ&usqp=CAU">
      <div text-center class="empty1" style="color: green;">No Orders</div>     
    </ion-col>      
  </ion-row>


    <span *ngIf="fillDiv">
    <ion-card class="myorderCard" *ngFor="let order of orderList">
      <ion-grid>

        <!-- <ion-row>
          <ion-col col-12 class="myCol">#100000015</ion-col>  
          <img class="eyeImage"  src="./assets/icon/eye.png">       
        </ion-row> -->

        <ion-row style="border-bottom: 1px solid rgb(175, 172, 172);">
          <ion-col col-8 class="myCol">#{{order.order_number}}</ion-col>  
          <ion-col col-4>
            <img class="eyeImage"  src="./assets/icon/eye.png" (click)="openModal(order.id)">  
          </ion-col>  
              
        </ion-row>

       

        <ion-row style="margin-top: 20px;">
          <ion-col col-4 class="colHeading">Ordered On</ion-col>
          <ion-col col-1>:</ion-col>
          <ion-col col-7>{{order.created_at}}</ion-col>
        </ion-row>
       
        <ion-row>
          <ion-col col-4 class="colHeading">Order Total</ion-col>
          <ion-col col-1>:</ion-col>
          <ion-col col-7>{{order.subtotal}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-4 class="colHeading">Status</ion-col>
          <ion-col col-1>:</ion-col>
          <ion-col col-7>{{order.status}}</ion-col>
        </ion-row>

        <!-- <ion-row>
          <ion-col col-4 class="colHeading">Ship To</ion-col>
          <ion-col col-1>:</ion-col>
          <ion-col col-7>tedhi puliya, Lucknow, 226021</ion-col>
        </ion-row> -->

      </ion-grid>
    </ion-card>
  </span>
   

    <!-- <h1>Get Location</h1> -->

  <!-- <button ion-button (click)="getGeolocation()">Get Location</button>  
 address: {{geoAddress }} -->

 <!-- <button ion-button (click)="register()"></button> -->

</ion-content>
