<!-- <ion-header>

  <ion-navbar> 
      <ion-icon name="close"></ion-icon>  
    <ion-title>{{ 'SIGNUP_TITLE' | translate }}</ion-title>
  </ion-navbar>

  <ion-row>
    <ion-col size="5" size-sm="5">
      <ion-icon name="close"></ion-icon>  
    </ion-col>
    <ion-col size="2" size-sm="2">
      <img src="https://p7.hiclipart.com/preview/609/434/345/shopping-cart-computer-icons-online-shopping-shopping-cart.jpg">
    </ion-col>
    <ion-col size="5" size-sm="5"></ion-col>
  </ion-row>  

</ion-header> -->

<ion-content>
  <ion-row class="header1">
    <ion-col size="5" size-sm="5">
      <ion-icon
        name="close"
        (click)="close()"
        style="color: white !important"
      ></ion-icon>
    </ion-col>
    <ion-col size="2" size-sm="2">
      <img src="/assets/icon/logo3.png" />
    </ion-col>
    <ion-col size="5" size-sm="5"></ion-col>
  </ion-row>

  <!-- <form (submit)="doSignup()"> -->

  <div class="div2">
    <ion-grid class="loginGrid">
      <ion-card>
        <ion-row class="row1">
          <ion-col
            size="6"
            size-sm="6"
            text-center
            class="col1"
            (click)="loginpage()"
          >
            Login
          </ion-col>
          <ion-col size="6" size-sm="6" text-center> Signup </ion-col>
        </ion-row>
      </ion-card>
    </ion-grid>

    <!-- <form (submit)="doSignup()"> -->
    <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
      <ion-grid>
        <ion-card>
          <ion-list>
            <ion-item>
              <ion-label floating>Mobile Number (10-digit)</ion-label>
              <ion-input type="number" formControlName="mobile"></ion-input>
            </ion-item>

            <span
              class="error"
              *ngIf="isSubmitted && errorControl.mobile.errors?.required"
            >
              Mobile number is required.
            </span>
            <span
              class="error"
              *ngIf="isSubmitted && errorControl.mobile.errors?.pattern"
            >
              Please insert 10 digit mobile number.
            </span>

            <!-- <ion-item>
        <ion-label floating>{{ 'NAME' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.name" name="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'EMAIL' | translate }}</ion-label>
        <ion-input type="email" [(ngModel)]="account.email" name="email"></ion-input>
      </ion-item> -->

            <!--
      Want to add a Username? Here you go:

      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input type="text" [(ngModel)]="account.username" name="username"></ion-input>
      </ion-item>
      -->

            <!-- <ion-item>
        <ion-label floating>{{ 'PASSWORD' | translate }}</ion-label>
        <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input>
      </ion-item> -->

            <div class="div1">
              <button ion-button color="danger" block type="submit">
                Signup Using OTP
              </button>
            </div>
          </ion-list>
          <p>
            By continuing, you agree to our
            <span>Terms and Conditions</span> and<span> Privacy Policy.</span>
          </p>
        </ion-card>
      </ion-grid>
    </form>
  </div>
  <!-- </form> -->
</ion-content>
