page-menu {

} 
       

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 2220px) {
    .list-ios .item-block .item-inner {
        border-bottom: 0.55px solid #c8c7cc;
        font-size: 35px;
    }
  }

@media screen and (max-width: 992px) {
    .list-ios .item-block .item-inner {
        border-bottom: 0.55px solid #c8c7cc;
        font-size: 25px;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    .list-ios .item-block .item-inner {
        border-bottom: 0.55px solid #c8c7cc;
        font-size: 16px;
    }
  }