<!--
  Generated template for the OrderDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-navbar>    
    <ion-title (click)="dismissModal()">Order Details</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding>
  <ion-row>
    <ion-col col-8 class="orderCol">Order Details</ion-col>
    <ion-col col-4 class="iconModal">
      <ion-icon name="close" (click)="dismissModal()"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-card class="myorderCard" *ngIf="orderDetailsList">
    <ion-grid>
      <!-- <ion-row>
        <ion-col col-12 class="myCol">#100000015</ion-col>  
        <img class="eyeImage"  src="./assets/icon/eye.png">       
      </ion-row> -->

      <ion-row style="border-bottom: 1px solid rgb(175, 172, 172)">
        <ion-col col-8 class="myCol">Order_Id: #{{orderDetailsList.id}}</ion-col>
        <ion-col col-4>
          <!-- <img class="eyeImage"  src="./assets/icon/eye.png">   -->
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4 class="colHeading">Ordered On</ion-col>
        <ion-col col-1>:</ion-col>
        <ion-col col-7>{{orderDetailsList.created_at}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4 class="colHeading">Order Total</ion-col>
        <ion-col col-1>:</ion-col>
        <ion-col col-7>{{orderDetailsList.total}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4 class="colHeading">Status</ion-col>
        <ion-col col-1>:</ion-col>
        <ion-col col-7>{{orderDetailsList.status}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4 class="colHeading">Ship To</ion-col>
        <ion-col col-1>:</ion-col>
        <ion-col col-7
          >{{orderDetailsList.shipping_address.first_name}},
          {{orderDetailsList.shipping_address.last_name}},
          {{orderDetailsList.shipping_address.address_1}},
          {{orderDetailsList.shipping_address.address_2}},
          {{orderDetailsList.shipping_address.city}},
          {{orderDetailsList.shipping_address.state}},
          {{orderDetailsList.shipping_address.postcode}}</ion-col
        >
      </ion-row>

      <ion-row style="border-bottom: 1px solid rgb(175, 172, 172)">
        <ion-col col-8 class="myCol">Payment Details:</ion-col>
        <ion-col col-4>
          <!-- <img class="eyeImage"  src="./assets/icon/eye.png">   -->
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4 class="colHeading">Payment Id</ion-col>
        <ion-col col-1>:</ion-col>
        <ion-col col-7>{{orderDetailsList.payment_details.method_id}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4 class="colHeading">Method title</ion-col>
        <ion-col col-1>:</ion-col>
        <ion-col col-7>{{orderDetailsList.payment_details.method_title}}</ion-col>
      </ion-row>   
      
      <ion-row style="border-bottom: 1px solid rgb(175, 172, 172)">
        <ion-col col-8 class="myCol">Total Items:</ion-col>
        <ion-col col-4>
          <!-- <img class="eyeImage"  src="./assets/icon/eye.png">   -->
        </ion-col>
      </ion-row>

      <ion-card *ngFor="let item of lineItem" style="margin: 10px 0px 16px 0px !important;">

      <ion-row>
        <ion-col col-4 class="colHeading">Product name</ion-col>
        <ion-col col-1>:</ion-col>
        <ion-col col-7>{{item.name}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4 class="colHeading">Quantity</ion-col>
        <ion-col col-1>:</ion-col>
        <ion-col col-7>{{item.quantity}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4 class="colHeading">Total</ion-col>
        <ion-col col-1>:</ion-col>
        <ion-col col-7>{{item.total}}</ion-col>
      </ion-row>

    </ion-card>
      
    <button ion-button block color="danger" *ngIf="orderDetailsList.status == 'processing'" (click)="presentConfirm(orderDetailsList.id)">Cancel Order</button>
    </ion-grid>

    

  </ion-card>
</ion-content>
